/*
Theme Name: Meipaly
Theme URI: http://layerdrops.com/
Author: Layerdrops
Author URI: http://layerdrops.com/
Description: Meipaly - Fine One Page Parallax HTML5 Responsive Template
Version: 1.0
License:
License URI:
*/

/*=======================================================================
[Table of contents]
=========================================================================

1. Font Settings
2. Typography Settings
3. Section Title Settings
4. Button Settings
5. Section Settings
*/

/*------------------------------------------------------------------------------
/ 1. Font Settings
------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700&display=swap');

body, html{
    margin: 0;
    padding: 0;
}
body {
    line-height: 32px;
    color: #818181;
    letter-spacing: 0.64px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
}

/*html:lang(ar) body {
    text-align: right;
    font-family: 'Simplified Arabic';
}*/



/*------------------------------------------------------------------------------
/ 2. Typography Settings
------------------------------------------------------------------------------*/





h1, h2, h3, h4, h5 h6 {
    color: #000000;
    font-weight: 400;
    margin: 0 0 15px;
}
a{
    color: #000;
    text-decoration: none;
    transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
}
a:hover, a:focus{
    text-decoration: none;
    outline: 0;
}
a:focus{
    color: #fff;
}
ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*------------------------------------------------------------------------------
/ 3. Section Title Settings
------------------------------------------------------------------------------*/
.noPadding{
    padding: 0;
}
.noPaddingRight{
    padding-right: 0;
}
.noPaddingLeft{
    padding-right: 0;
}

/*------------------------------------------------------------------------------
/ 4. Button Settings
------------------------------------------------------------------------------*/
.common_btn {
    border: none;
    font-size: 16px;
    font-weight: 400;
    background: #ec6923;
    color: #fff;
    height: 70px;
    text-transform: uppercase;
    text-align: center;
    padding: 28px 45.5px;
    display: inline-block;
    line-height: .8;
    letter-spacing: 1.6px;
    position: relative;
    outline: none;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.common_btn span {
    position: relative;
    z-index: 2;
}
.common_btn:after {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.common_btn:hover:after{
    width: 100%;
}
.common_btn:hover{
    color: #000;
}
.common_btn.red_bg{
    padding: 28px 40.5px;
}
.common_btn.red_bg:after{
    background: #2d3192;
}
.common_btn.red_bg:hover:after{
    width: 100%;
}
.common_btn.red_bg:hover{
    color: #fff;
}

/*BLUE BUTTON*/
.common_btn_blue {
    border: none;
    font-size: 16px;
    font-weight: 400;
    background: #ec6923;
    color: #fff;
    height: 70px;
    text-transform: uppercase;
    text-align: center;
    padding: 28px 45.5px;
    display: inline-block;
    line-height: .8;
    letter-spacing: 1.6px;
    position: relative;
    outline: none;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

.common_btn_blue span {
    position: relative;
    z-index: 2;
}

.common_btn_blue:after {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

.common_btn_blue:hover:after {
    width: 100%;
}

.common_btn_blue:hover {
    color: #000;
}

.common_btn_blue.red_bg {
    padding: 28px 40.5px;
}

    .common_btn_blue.red_bg:after {
        background: #1a1d5a;
    }

.common_btn_blue.red_bg:hover:after {
    width: 100%;
}

        .common_btn_blue.red_bg:hover {
            color: #fff;
        }


/*------------------------------------------------------------------------------
/ 5. Section Settings
------------------------------------------------------------------------------*/
.commonSection{
    padding: 120px 0;
    position: relative;
}
.commonSection .container{
    position: relative;
    z-index: 2;
}
.grays{
    background: #f5f6fa;
}
.sub_title{
    font-size: 12px;
    line-height: .8;
    font-weight: 400;
    color: #818181;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.sub_title2 {
    font-size: 16px;
    line-height: .8;
    font-weight: 400;
    color: #818181;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.sec_title{
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.red_color{
    color: #2d3192;
}
.white{
    color: #ffffff;
}
.sec_desc{
    margin: 0 0 54px;
}
.color_aaa{
    color: #aaaaaa;
}
.color_fff {
    color: #fff;
}

/*Values*/
.value-section {
    background: linear-gradient(to top, rgba(14, 14, 14, 0.51), rgba(0, 0, 0, 0.66)), url(../images/homepage/our-values.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 70px 0 50px 0;
    height: 741px;
}
.circle {
    position: relative;
    border-radius: 10px;
    border: 3px solid #fff;
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto 20px;
}
.value-section article .circle.icon-1 {
    background: url(../images/value/icon-1.svg) center center no-repeat;
    background-size: 35px;
}
.value-section article .circle.icon-2 {
    background: url(../images/value/Icon_2.svg) center center no-repeat;
    background-size: 35px;
}
.value-section article .circle.icon-3 {
    background: url(../images/value/icon_3.svg) center center no-repeat;
    background-size: 35px;
}
.value-section article .circle.icon-4 {
    background: url(../images/value/icon_4.svg) center center no-repeat;
    background-size: 35px;
}
.value-section article .circle.icon-5 {
    background: url(../images/value/icon_5.svg) center center no-repeat;
    background-size: 35px;
}
.value-section article .circle.icon-6 {
    background: url(../images/value/icon_6.svg) center center no-repeat;
    background-size: 35px;
}
.value-section article:hover .circle {
    border-color: transparent;
}
.value-section article .icon-title, .value-section article .icon-info {
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.value-section article .icon-title p, .value-section article .icon-info p {
    color: #fff;
    line-height: 24px;
}
.value-section article .icon-info p {
    font-size: 14px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 15px;
}
.value-section article {
    position: relative;
    margin: 0 auto 40px;
    cursor: pointer;
}
.value-section article:hover .icon-info p {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.value-section article .icon-info {
    min-height: 120px;
}
.value-section article .icon-title {
    font-weight: bold;
}
.value-section h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    font-weight:bold;
}

/*Values*/

/*About*/
.about-banner {
    position: relative;
    min-height: 465px;
    background: linear-gradient(to top, rgba(14, 14, 14, 0.51), rgba(0, 0, 0, 0.66)),url(../images/about/architectural-design-architecture-buildings-city-374811-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    background-position: center;
}
.about-banner .subheading {
    font-size: 36px;
    padding-top: 34px;
}
.about-banner .banner_content {
    padding-top: 60px;
}

.about-details{
    padding:50px 0;
}
.about-approach p {
    background: #fff;
    box-shadow: 0 0 20px #ccc;
    padding: 20px;
    color: #000;
    margin-top:15px;
}
.about-details h1{
    padding-top:40px;
}
/*About*/
/*Employer*/
.employer-banner {
    position: relative;
    min-height: 465px;
    background: url(../images/employer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
}

.employer-banner .subheading {
    font-size: 36px;
    padding-top: 34px;
}
.employer-description{
    background:#fff;
    padding:5em 0;

}
.employer-description .front h2 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    vertical-align: middle;
    display: table-cell;
}
.employer-description p {
    color: #000;
    line-height: 1.7;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
}
.employer-description .icon_box_1 {
    height: 300px;
}
.employer-description .icon_box_1 .flipper {
    height: 300px;
}
    .employer-description .front {
        background: #2d3192;
        border: 0px;
        height: 300px;
        display: table;
        border-radius: 6px;
    }
.employer-description .back {
    background: #fff;
    border: 0px;
    height: 300px;
    display: table;
    box-shadow: 0 0 20px #ccc;
    border-radius: 6px;
}
.how-we-do-box {
    text-align: center;
    margin: 50px 0;
    background: #fff;
    box-shadow: 0 0 20px #ccc;
    padding: 25px 15px;
    border-radius: 6px;
}
    .how-we-do-box .image {
        font-size: 50px;
        color: #ec6923;
        border-radius: 6px;
    }
.how-we-do-section h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 25px;
    text-align:center;
}
.how-we-do-text {
    font-weight: 600;
    color: #ec6923;
    padding-top: 20px;
    padding-bottom: 2px;
    display: inline-block;
    border-bottom: 2px solid #ec6923;
    margin-bottom: 10px;
}
.how-we-do-box p {
    line-height: 1.7;
    font-size:14px;
}
.how-we-do-section {
    padding-bottom: 58px
}
.hang {
    transition-duration: .5s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
}

.hang:hover {
    transform: translateY(6px);
    animation-name: hang;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*Employer*/


/*Recruiter*/
.recruiter-step p {
    height:96px;
}

.recruiter-banner {
}
.recruiter-banner {
    position: relative;
    min-height: 595px;
    background: url(../images/work-any-where.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 120px;
}
.recruiter-banner .subheading {
    font-size: 36px;
    padding-top: 34px;
}
.recruiter-banner .banner_content {
    position: relative;
    padding-top: 90px;
}
.recruiter-step .icon_box_2 {
    position: relative;
    width: 100%;
    background: #fff;
    border: 0px;
    padding: 39px 66px 5px;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    box-shadow: 0 0 20px #ccc;
}
.recruiter-step {
    padding: 55px 0;
}
.recruiter-step .sec_title {
    margin-bottom: 55px;
    font-size: 33px;
    line-height: 47px;
}
.recruiter-step .icon_box_2 .iconWrap:after {
    display: none;
}
.recruiter-step .icon_box_2 h3 {
    margin: 0 0 15px;
    font-weight: 600;
}
.recruiter-step.icon_box_2 .iconWrap i {
    font-size: 64px;
    font-style: normal;
    color: #272727;
    display: inline-block;
    margin: 0 0 0;
}
.recruiter-join .singlefolio {
    background: #fff;
    box-shadow: 0 0 20px #ccc;
    height: 300px;
    position: relative;
}
.recruiter-join .singlefolio:hover .folioHover {
    visibility: visible;
    opacity: 1;
    left: 16px;
}
.recruiter-join .sec_title {
    margin-bottom: 55px;
    font-size: 33px;
    line-height: 47px;
}
.recruiter-join .singlefolio .folioHover h4 {
    color: #fff !important;
    margin: 15px 0;
}
.recruiter-join  .singlefolio .folioHover a.cate {
    line-height: 18px;
    color: #fff !important;
}
.recruiter-join .singlefolio .folioHover h4 a {
    color: #fff !important;
}
.recruiter-join{
    padding-bottom:50px;
}
    .recruiter-join .singlefolio .fa {
        font-size: 90px;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 35%;
        color: #ec6923;
    }
/*Recruiter*/

/*Coaching*/

.coaching-banner {
    position: relative;
    min-height: 465px;
    background: linear-gradient(to top, rgba(14, 14, 14, 0.51), rgba(0, 0, 0, 0.66)), url(../images/coaching/coach-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 120px;
}
.coaching-banner .subheading {
    font-size: 36px;
    padding-top: 34px;
}
.choose-session-heading .sec_title {
    margin-bottom: 17px;
    font-size: 33px;
    line-height: 47px;
}
.choose-session-heading h3 {
    font-weight: bold;
    text-transform: uppercase;
}
.choose-session-heading {
    padding: 55px 0;
}
.choose-session .icon_box_1 {
    margin-bottom:30px
}
.featured-coaches .sec_title {
    margin-bottom: 96px;
    font-size: 33px;
    line-height: 47px;
}
.featured-coaches .tm_img img {
    height: 100%;
}
.featured-coaches .tm_img {
    position: relative;
    height: 364px;
}
.choose-session .common_btn {
    /*border: 1px solid #1b1b1b;*/
    margin-top: 83px;
}
/*Coaching*/


/*Job Seeker*/ 

.jobseeker-banner {
    position: relative;
    min-height: 465px;
    background: url(../images/seekjob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-top: 120px;
}

.jobseeker-banner .subheading {
    font-size: 36px;
    padding-top: 34px;
}
.jobseeker-banner .banner_content {
    position: relative;
    padding-top:60px;
}
.job-box {
    background: #fff;
    box-shadow: 0 0 20px #ccc;
    border-radius: 6px;
    margin-bottom:30px;
}
    .job-box h2 {
        background: #2d3192;
        color: #fff;
        padding: 15px 20px;
        font-size: 17px;
        border-radius: 6px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
.job-box p {
    padding: 0px 20px 10px 20px;
    line-height: 1.4;
}
.job-box .common_btn {
    padding: 15px;
    height: auto;
    margin: 0 20px 30px;
}
.job-listing {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Job Seeker*/


/*Coaching Session*/

.session-listing .common_btn.red_bg {
    color: #fff;
    padding: 20px 36px;
    height: 50px;
    margin-top:20px;
}
.session-value h4{
    margin-bottom:10px !important;
    text-transform:capitalize !important;
}
.session-value p {
    margin-bottom: 24px !important;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    height:44px;
}
.session-listing .icon_box_2 h3 {
    background: #2d3192;
    color: #fff;
    padding: 15px 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 22px;
    font-size: 16px;
}

.session-listing .icon_box_2 {
    padding: 0px;
    box-shadow: 0 0 20px #ccc;
    border-radius: 6px;
    margin-bottom:40px;
}
.session-listing .icon_box_2:after {
   display:none;
}
.session-value {
    padding: 0px 30px 30px 30px;
    height: 226px;
}
.coaching-session-banner {
    position: relative;
    min-height: 465px;
    background: url(../images/coaching/coaching-session.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 120px;
}
.coaching-session-banner .subheading {
    font-size: 36px;
    padding-top: 34px;
}
/*Coaching Session*/

.our-client .singleClient a img {
    max-width:100%;
    opacity:1;
}
.our-client .singleClient {
    background:transparent;
    height:380px;
}
.our-client .singleClient:hover {
    box-shadow:none;
}
.our-client .singleClient:after {
    display:none;
}
.color-bars {
    width: 35px;
    height: 38px;
}
.home-service .back {
    padding: 25px;
}
.home-service p {
    color: #fff;
    line-height: 1.4;
}
.choose-session .back {
    padding: 16px;
    height: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-session p {
    color: #fff;
    line-height: 1.4;
}