﻿@model IEnumerable<JoinSolutions.Website.Data.Module>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.moduleNameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moduleNameAr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.moduleNameEn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.moduleNameAr)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.moduleId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.moduleId })
    </td>
</tr>
}

</table>
