﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>



    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- App css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="~/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="~/Content/assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" disabled />
    <link href="~/Content/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" disabled />

    <!-- icons -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/map-helper.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/gmaps.js"></script>
    <script src="~/js/isotope.js"></script>

    <!-- Vendor js -->
    <script src="~/Content/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/Content/assets/js/app.min.js"></script>



</body>
</html>
