﻿<!DOCTYPE html>
@using JoinSolutions.Website.Helpers;
@{
    var culture = string.IsNullOrEmpty(CultureHelper.CurrentCulture) ? CultureHelper.DefaultCulture : CultureHelper.CurrentCulture;
}
<html lang="@culture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resources.estimates.New_Estimate</title>



    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- App css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />


    @if (culture.ToLower() == "en" || culture.ToLower() == "en-US")
    {
        <link href="~/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
        <link href="~/Content/style-en.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/Content/assets/css/app-rtl.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
        <link href="~/Content/style-ar.css" rel="stylesheet" />
    }

    <link href="~/Content/assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" disabled />
    <link href="~/Content/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" disabled />

    <!-- icons -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/theme.css" rel="stylesheet" />



    <style>
        .btn a {
            color: inherit;
            text-decoration: none;
            background-color: transparent;
        }

        #sidebar-menu .menu-title {
            font-size: 16px;
        }

        .content {
            margin-top: 30px;
        }

        .navbar-custom .topnav-menu .nav-link {
            display: inline;
        }

        .navbar-custom {
            background-color: #2d3192 !important;
        }
    </style>
</head>
<body>
    <input type="hidden" id="ENLang" name="ENLang" value="EN" />
    <input type="hidden" id="ARLang" name="ARLang" value="AR" />
    <div>
        @RenderBody()
    </div>

    

    <script src="~/Scripts/App/multiLanguage.js"></script>

</body>
</html>
