﻿@using JoinSolutions.Website.Helpers;
@using JoinSolutions.Website.Enums;
@using JoinSolutions.Website.Data;

<!DOCTYPE html>
@{
    var culture = string.IsNullOrEmpty(CultureHelper.CurrentCulture) ? CultureHelper.DefaultCulture : CultureHelper.CurrentCulture;
    var user = (JoinSolutions.Website.Data.User)Session["CurrentUser"];
    JoinDBEntities db = new JoinDBEntities();
    var userPermissions = db.UserPagePermissions.Where(o=>o.userId == user.id);
}
<html lang="@culture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- App css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />

    @if (culture.ToLower() == "en" || culture.ToLower() == "en-US")
    {
        <link href="~/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
        <link href="~/Content/style-en.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/Content/assets/css/app-rtl.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
        <link href="~/Content/style-ar.css" rel="stylesheet" />
    }
    <link href="~/Content/assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" disabled />
    <link href="~/Content/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" disabled />

    <!-- icons -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />




    <style>

        .btn a {
            color: inherit;
            text-decoration: none;
            background-color: transparent;
        }

        #sidebar-menu .menu-title {
            font-size: 16px;
        }

        .content {
            margin-top: 30px;
        }

        .navbar-custom .topnav-menu .nav-link {
            display: inline;
        }

        .navbar-custom {
            background-color: #2d3192 !important;
        }
    </style>
</head>
<body>

    <input type="hidden" id="ENLang" name="ENLang" value="EN" />
    <input type="hidden" id="ARLang" name="ARLang" value="AR" />

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <ul class="list-unstyled topnav-menu float-right mb-0">
                    @if (culture.ToLower() == "en" || culture.ToLower() == "en-US")
                    {
                        <li style="margin-top:30px" class="arabic-float-right setLang dropdown notification-list topbar-dropdown" data-lang="ar" id="fold"><span id="fold_p" class="nav-lang" style="color:white">AR</span></li>
                    }
                    else
                    {
                        <li style="margin-top:30px" class="arabic-float-right setLang dropdown notification-list topbar-dropdown" data-lang="en" id="fold"><span id="fold_p" class="nav-lang" style="color:white">EN</span></li>
                    }

                    <li class="dropdown notification-list topbar-dropdown">


                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" href="/Account/LogOut">

                            <span class="pro-user-name ml-1">
                                @Resources.dashboardCommon.logOut
                            </span>


                        </a>

                    </li>





                </ul>

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="/Estimates/Index" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <img style="width:65%" src="~/images/logo.png" />
                            <!-- <span class="logo-lg-text-light">UBold</span> -->
                        </span>
                        <span class="logo-lg">
                            <img style="width:65%" src="~/images/logo.png" />
                            <!-- <span class="logo-lg-text-light">U</span> -->
                        </span>
                    </a>

                    <a href="/Estimates/Index" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img style="width:65%" src="~/images/logo.png" />
                        </span>
                        <span class="logo-lg">

                            <img style="width:65%" src="~/images/logo.png" />
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>

                    <li>
                        <!-- Mobile menu toggle (Horizontal Layout)-->
                        <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>

                </ul>

            </div>
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="h-100" data-simplebar>



                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.ProductCategories && o.isEnabled))
                        {
                            <li>
                                <a href="/ProductCategories">
                                    <i data-feather="activity"></i>
                                    <span> @Resources.dashboardCommon.categories</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Suppliers && o.isEnabled))
                        {
                            <li>
                                <a href="/Suppliers">
                                    <i data-feather="rss"></i>
                                    <span> @Resources.dashboardCommon.suppliers</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Users && o.isEnabled))
                        {
                            <li>
                                <a href="/Users">
                                    <i data-feather="users"></i>
                                    <span> @Resources.dashboardCommon.Users</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Products && o.isEnabled))
                        {
                            <li>
                                <a href="/Products">
                                    <i data-feather="briefcase"></i>
                                    <span> @Resources.dashboardCommon.Products</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.OfferTypes && o.isEnabled))
                        {
                            <li>
                                <a href="/OfferTypes">
                                    <i data-feather="map"></i>
                                    <span> @Resources.dashboardCommon.OfferTypes</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Proposals && o.isEnabled))
                        {
                            <li>
                                <a href="/Estimates">
                                    <i data-feather="map"></i>
                                    <span> @Resources.dashboardCommon.Porposals</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.TendarStages && o.isEnabled))
                        {
                            <li>
                                <a href="/OpportunityStages">
                                    <i data-feather="map"></i>
                                    <span> @Resources.estimates.opportunityStages</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Accounts && o.isEnabled))
                        {
                            <li>
                                <a href="/CrmAccounts">
                                    <i data-feather="map"></i>
                                    <span> @Resources.task.accounts</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Tendars && o.isEnabled))
                        {
                            <li>
                                <a href="/Opportunities">
                                    <i data-feather="map"></i>
                                    <span> @Resources.opportunities.Opportunities</span>
                                </a>
                            </li>
                        }


                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Tasks && o.isEnabled))
                        {
                            <li>
                                <a href="/Tasks">
                                    <i data-feather="map"></i>
                                    <span> @Resources.task.tasks</span>
                                </a>
                            </li>
                        }

                        @if (userPermissions.Any(o => o.pageId == (int)Pages.Reports && o.isEnabled))
                        {
                            <li>
                                <a href="#">
                                    <i data-feather="map"></i>
                                    <span> @Resources.task.reports</span>
                                </a>
                            </li>
                        }



                    </ul>

                </div>
                <!-- End Sidebar -->


            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">
                    @RenderBody()

                </div> <!-- container -->

            </div> <!-- content -->
            <!-- Footer Start -->
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    @*<script src="~/js/jquery.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/map-helper.js"></script>*@
    @*<script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/swiper.min.js"></script>
        <script src="~/js/theme.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/gmaps.js"></script>
        <script src="~/js/isotope.js"></script>*@



    <!-- Dashboard 2 init -->
    <!-- Vendor js -->
    <script src="~/Content/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/Content/assets/js/app.min.js"></script>

    <script src="~/Scripts/App/multiLanguage.js"></script>




</body>
</html>
