﻿

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}


<style>
    .logo-lg {
        background: #2d3192;
        padding: 20px;
        border-radius: 4px;
    }
</style>
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-pattern">

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo">
                                <a href="Home" class="logo logo-dark text-center">
                                    <span class="logo-lg">

                                        <img src="~/images/logo.png" />
                                    </span>
                                </a>

                                <a href="Home" class="logo logo-light text-center">
                                    <span class="logo-lg">

                                        <img src="~/images/logo.png" />
                                    </span>
                                </a>
                            </div>
                            <p class="text-muted mb-4 mt-3">@Resources.estimates.Enter_your_username_and_password</p>
                        </div>

                        <form method="post" action="/Account/Login">
                            <div class="form-group">
                                <label for="userName">@Resources.users.username</label>
                                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="@Resources.users.username">
                            </div>
                            <div class="form-group">
                                <label for="password">@Resources.users.password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="@Resources.users.password">
                            </div>
                            <span style="color:red">@ViewBag.error</span>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">@Resources.estimates.LogIn</button>
                            </div>


                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>