﻿@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-pattern">

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo">
                                <a href="Home" class="logo logo-dark text-center">
                                    <span class="logo-lg">

                                        <img style="width:32%" src="~/images/resources/logo-dark-1-1.png" />
                                    </span>
                                </a>

                                <a href="Home" class="logo logo-light text-center">
                                    <span class="logo-lg">

                                        <img style="width:32%" src="~/images/resources/logo-dark-1-1.png" />
                                    </span>
                                </a>
                            </div>
                            <p class="text-muted mb-4 mt-3">Enter your username and password to access admin panel.</p>
                        </div>

                        <form method="post" action="/Account/Login">
                            <div class="form-group">
                                <label for="userName">User name</label>
                                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter user name">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">LogIn</button>
                            </div>




                            <span style="color:red">@ViewBag.error</span>

                        </form>



                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>





