﻿@model JoinSolutions.Website.Data.Supplier

@{
    ViewBag.Title = "Delete";
}



<h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Resources.estimates.supplierName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" />
                            @Html.ActionLink(Resources.estimates.BackToSuppliers, "Index", null, null, new { @class = "btn btn-info" })
                        </div>
                    }
                </div>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>


