﻿@model JoinSolutions.Website.Models.EstimatesModel

@{
    ViewBag.Title = "Create";
}

<ol class="topWiz">
    <li class="wizLi">@Resources.task.createNewAccount</li>
    <li class="wizLi" >@Resources.opportunities.CreateOpportunity</li>
    <li class="wizLi current">@Resources.estimates.CreateNew</li>
</ol>

<h2>@Resources.estimates.CreateNew</h2>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal row">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group  col-md-4">
                        @Html.Label(Resources.estimates.EstimateName, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.Label(Resources.estimates.estimateDate, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.TextBoxFor(model => model.estimateDate, Model.estimateDate.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.estimateDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        @Html.Label(Resources.estimates.currencyRate, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextBoxFor(model => model.currencyRate, new { @class = "form-control", @type = "number", @min = 1, @step = 0.001 })
                            @Html.ValidationMessageFor(model => model.currencyRate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.offerTypeId, Resources.estimates.OfferType, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("offerTypeId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.offerTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.accountId, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("accountId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.accountId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        @Html.Label(Resources.estimates.customerPhone, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextBoxFor(model => model.customerPhone, new { @class = "form-control", @type = "tel" })
                            @Html.ValidationMessageFor(model => model.customerPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        @Html.Label(Resources.estimates.customerEmail, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextBoxFor(model => model.customerEmail, new { @class = "form-control", @type = "Email" })
                            @Html.ValidationMessageFor(model => model.customerEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        @Html.Label(Resources.estimates.customerNotes, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextAreaFor(model => model.customerNotes, new { @class = "form-control", @rows = 6, @maxlength = 500 })
                            @Html.ValidationMessageFor(model => model.customerNotes, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        @Html.Label(Resources.estimates.estimateTerms, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextAreaFor(model => model.estimateTerms, new { @class = "form-control", @rows = 6, @maxlength = 500 })
                            @Html.ValidationMessageFor(model => model.estimateTerms, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.tenderId)


                    <div class="form-group col-md-12">

                        <input type="submit" value="@Resources.estimates.Create" class="btn btn-primary" />

                    </div>
                </div>
                }

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>




<div>
    @Html.ActionLink(Resources.estimates.BackToEstimates, "Index", null, null, new { @class = "btn btn-info" })
</div>
