﻿@model JoinSolutions.Website.Data.Estimate

@{
    ViewBag.Title = Resources.estimates.Delete;
}

    <h2>@Resources.estimates.Delete</h2>

    <h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>
<div>
    <h4>@Resources.estimates.Estimates</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resources.estimates.description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Resources.estimates.customerName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerName)
        </dd>

        <dt>
            @Resources.estimates.estimateDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimateDate)
        </dd>

        <dt>
            @Resources.estimates.currencyRate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currencyRate)
        </dd>

        <dt>
            @Resources.estimates.status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusId)
        </dd>

        <dt>
            @Resources.estimates.customerNotes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerNotes)
        </dd>

        <dt>
            @Resources.estimates.estimateTerms
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimateTerms)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" /> |
            @Html.ActionLink(Resources.estimates.BackToEstimates, "Index", null, null, new { @class = "btn btn-info" })
        </div>
    }
</div>
