﻿@model JoinSolutions.Website.Data.Estimate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Estimate Name")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.customerName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.customerName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.estimateDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.estimateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.currencyRate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.currencyRate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.statusId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.statusId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.customerNotes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.customerNotes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.estimateTerms)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.estimateTerms)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink(Resources.estimates.EditEstimate, "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink(Resources.estimates.BackToEstimates, "Index", null, null, new { @class = "btn btn-info" })
                </p>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>



