﻿@model JoinSolutions.Website.Models.EstimatesModel

@{
    ViewBag.Title = "Edit";
}

<h2>@Resources.estimates.EditEstimate</h2>

<style>
    .pull-right-flex {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="pull-right-flex">
        <a class="btn btn-primary" href="/Estimates/Invoice?estimateId=@(Model.id)" style="margin-left:10px;margin-right:10px">@Resources.estimates.Show</a>
        @*<button class="btn btn-primary" style="margin-left:10px;margin-right:10px">Print</button>*@
        <input type="submit" value="@Resources.estimates.Save" class="btn btn-primary" />
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    @Html.AntiForgeryToken()

                    <div class="form-horizontal row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group  col-md-4">
                            @Html.Label(Resources.estimates.EstimateName, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            @Html.Label(Resources.estimates.estimateDate, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextBoxFor(model => model.estimateDate, Model.estimateDate.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.estimateDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            @Html.Label(Resources.estimates.currencyRate, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextBoxFor(model => model.currencyRate, new { @class = "form-control", @type = "number", @min = 1, @step = 0.001 })
                                @Html.ValidationMessageFor(model => model.currencyRate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.offerTypeId, Resources.estimates.OfferType, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.DropDownList("offerTypeId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.offerTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.accountId, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.DropDownList("accountId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.accountId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            @Html.Label(Resources.estimates.customerPhone, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.customerPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            @Html.Label(Resources.estimates.customerEmail, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.customerEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        @Html.Partial("~/Views/EstimateProducts/Index.cshtml", Model.EstimateProducts)
                    </div>

                    <div class="row">
                        <div class="form-group  col-md-6">
                            @Html.Label(Resources.estimates.customerNotes, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextAreaFor(model => model.customerNotes, new { @class = "form-control", @rows = 6, @maxlength = 500 })
                                @Html.ValidationMessageFor(model => model.customerNotes, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-6">
                            @Html.Label(Resources.estimates.estimateTerms, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextAreaFor(model => model.estimateTerms, new { @class = "form-control", @rows = 6, @maxlength = 500 })
                                @Html.ValidationMessageFor(model => model.estimateTerms, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.tenderId)


                    </div>




                    <!-- end .table-responsive-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>




}
<div>
    @Html.ActionLink(Resources.estimates.BackToEstimates, "Index", null, null, new { @class = "btn btn-info" })
</div>


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@