﻿@model IEnumerable<JoinSolutions.Website.Data.Estimate>

@{
    ViewBag.Title = Resources.estimates.AllEstimates;
}

<style>
    .demo {
        background: #f0f1f3;
        text-align: center;
        padding: 10px 5px;
        border-radius: 6px;
        color: #2d3192;
        font-weight: 700;
        margin: 0 !important;
    }
</style>

<h2>@Resources.estimates.AllEstimates</h2>

<p>
    @Html.ActionLink(Resources.estimates.CreateNew, "Create", null, null, new { @class = "btn btn-primary" })

</p>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.DisplayName(Resources.estimates.EstimateName)
                        </th>
                        <th>
                            @Html.DisplayName(Resources.estimates.customerName)
                        </th>
                        @*<th>
            @Html.DisplayName(Resources.estimates.ProposalCreator)
        </th>*@
                        <th>
                            @Html.DisplayName(Resources.estimates.estimateDate)
                        </th>
                        <th>
                            @Html.DisplayName(Resources.estimates.ProposalCreator)
                        </th>
                        <th>@Resources.estimates.Actions</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.customerName))
                        {
                            @Html.DisplayFor(modelItem => item.Account.accountName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.customerName)
                        }
                    </td>
                    <td>
                        @item.estimateDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.fullName)
                    </td>
                   
                    <td>
                        @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.id }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                        @Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.id }) |
                        @Html.ActionLink(Resources.estimates.Show, "Invoice", new { estimateId = item.id })
                    </td>
                </tr>
                    }

                </table>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>





