﻿@model JoinSolutions.Website.Data.Estimate
@using JoinSolutions.Website.Helpers;

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    var culture = string.IsNullOrEmpty(CultureHelper.CurrentCulture) ? CultureHelper.DefaultCulture : CultureHelper.CurrentCulture;
    var user = (JoinSolutions.Website.Data.User)Session["CurrentUser"];
    decimal totalPrice = 0;
}

<style>
    .pull-right-flex {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .whoHead {
        font-size: 32.1px;
        color: rgb(44,53,136);
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        margin-top: 30px;
    }

    .whoPara {
        font-size: 16.1px;
        color: rgb(243,112,48);
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-align: right;
        margin: 40px 30px;
    }

    .whoParaBlue {
        font-size: 16.1px;
        color: rgb(40,64,154);
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-align: right;
        margin: 40px 30px;
    }

    .whoHeadTean {
        font-size: 32.1px;
        color: rgb(44,53,136);
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        position: absolute;
        left: 116px;
        top: -15px;
    }

    .tean2 {
        position: relative;
    }

    .team {
        position: relative;
    }

    .teamHead {
        position: absolute;
        font-size: 14.1px;
        color: rgb(255,230,153);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        top: 10px;
        padding: 30px;
        text-align: right;
        right: 235px;
    }

    .teamSubHead {
        font-size: 24.1px;
        color: rgb(255,255,255);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        position: absolute;
        top: 100px;
        padding: 30px;
        text-align: right;
        right: 235px;
    }

    .chartHead {
        position: absolute;
        font-size: 32.1px;
        color: rgb(243,112,48);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        padding: 0 34px;
        text-align: right;
        right: 106px;
    }

    .chartRight {
        font-size: 30.1px;
        color: rgb(43,55,133);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        width: 130px;
        display: inline-block;
        text-align: right;
    }

    .yellowHead {
        font-size: 24.1px;
        color: rgb(46,84,150);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        position: absolute;
        left: -48px;
        padding: 0 160px;
        text-align: center;
        top: -9px;
    }

    .dark {
        background: #000;
        padding: 100px;
    }

    .whiteDark {
        font-size: 24.1px;
        color: rgb(255,255,255);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    .darkCric {
        border-radius: 50%;
        height: 25px;
        width: 25px;
        font-size: 16.0px;
        color: rgb(0,159,220);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        margin-right: 10px;
        border: 2px solid rgb(0,159,220);
        display: inline-block;
        text-align: center;
    }

    .darkBlue {
        font-size: 18.1px;
        color: rgb(0,159,220);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
    }

    .blueDark {
        margin-bottom: 10px;
    }

    .footText {
        font-size: 32.1px;
        color: rgb(44,53,136);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        position: absolute;
        right: 290px;
        top: 45px;
    }

    .whiteHead {
        background: transparent;
        width: auto;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 50px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .headText {
        font-size: 14.1px;
        color: rgb(9,102,194);
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
    }

    .whiteHead img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .tean2Con {
        padding-top: 10px;
    }
</style>

<div id="editor"></div>

@*<button id="cmd" onclick="clickme()">Generate PDF</button>*@
<div id="content">



    <div class="section1" style="position:relative">
        <div class="whiteHead">

            <img src="~/Pictures/@Model.User.userImage" />
            <div class="headText">
                <b>@Model.User.fullName</b>
            </div>

            <div class="headText">
                @Model.User.userTitle
            </div>

            <div class="headText">
                @Model.User.userPhone
            </div>

            <div class="headText">
                @Model.User.userEmail
            </div>
            <div class="headText" style="color:#000">
                @Model.User.userLinkedInProfile
            </div>
        </div>
        <img style="width:100%" src="~/images/sec-1-new.png" />
    </div>

    <div class="section2">
        <img style="width:100%" src="~/images/2.png" />
    </div>

    <div class="section3">
        <img style="width:100%" src="~/images/sec-3.png" />
    </div>

    <div class="section4">
        <img style="width:100%" src="~/images/sec-4.png" />
    </div>

    <div class="section5">
        <img style="width:100%" src="~/images/sec-5.png" />
    </div>

    <div class="section6">
        <img style="width:100%" src="~/images/sec-6.png" />
    </div>

    @if (Model.EstimateProducts.Any(o => o.productId == 2))
    {
        <div class="section7">
            <img style="width:100%" src="~/images/sh-1.jpeg" />
        </div>

        <div class="section8">
            <img style="width:100%" src="~/images/sh-2.jpeg" />
        </div>
        <div class="section9">
            <img style="width:100%" src="~/images/sh-3.png" />
        </div>
        <div class="section10">
            <img style="width:100%" src="~/images/sh-4.png" />
        </div>
    }

    @if (Model.EstimateProducts.Any(o => o.productId == 12))
    {
        <div class="section11">
            <img style="width:100%" src="~/images/shh-1.png" />
        </div>

        <div class="section12">
            <img style="width:100%" src="~/images/shh-2.png" />
        </div>

        <div class="section13">
            <img style="width:100%" src="~/images/shh-3.png" />
        </div>

        <div class="section14">
            <img style="width:100%" src="~/images/shh-4.png" />
        </div>

    }

    <div class="receipt section15">
        <div class="top-invoice-bg print-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>Join LTD</div>
                        <div>King Abdullah Rd, Al Hamra, 2nd Floor, Deem Plaza</div>
                        <div> 2nd Floor, Deem Plaza 6389</div>
                        <div>Riyadh 13216</div>
                        <div>Phone:  +966503230508</div>
                        <div>Email: sales@join.sa</div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <img style="width:100%" src="~/images/logo-big.png" />
                    </div>
                </div>
            </div>


        </div>

        <div class="print-wrap" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row">
                            @if (!string.IsNullOrEmpty(Model.description))
                            {
                                <div class="col-md-3 text-center">

                                    <div class="inHead">@Resources.estimates.EstimateName</div>
                                    <div class="input-group-sm">@Model.description</div>
                                </div>
                            }

                            <div class="col-md-3 text-center">

                                <div class="inHead">@Resources.estimates.estimateDate</div>
                                <div class="input-group-sm">@Model.estimateDate.ToShortDateString()</div>
                            </div>

                            <div class="col-md-3 text-center">

                                <div class="inHead">@Resources.Invoice.Administratot</div>
                                <div class="input-group-sm">@user.fullName</div>
                                <div class="input-group-sm">@user.userEmail</div>
                                <div class="input-group-sm">@user.userPhone</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-center">

                                <div class="inHead">@Resources.estimates.customerName</div>
                                <div class="input-group-sm">@Model.customerName</div>
                            </div>

                            @if (!string.IsNullOrEmpty(Model.customerPhone))
                            {
                                <div class="col-md-3 text-center">

                                    <div class="inHead">@Resources.estimates.customerPhone</div>
                                    <div class="input-group-sm">@Model.customerPhone</div>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(Model.customerEmail))
                            {
                                <div class="col-md-3 text-center">

                                    <div class="inHead">@Resources.estimates.customerEmail</div>
                                    <div class="input-group-sm">@Model.customerEmail</div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>

            @{
                decimal total = 0;
                decimal subTotal = 0;
                decimal allVat = 0;
                decimal quantity = 0;
            }

            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="">
                            <div class="table-responsive">
                                <table class="table mt-4 table-centered table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>@Resources.Invoice.Product</th>
                                            <th>@Resources.estimates.periodByMonths</th>
                                            <th style="width: 10%">@Resources.Invoice.Qty</th>
                                            <th style="width: 10%">@Resources.estimates.CostPrice </th>
                                            <th style="width: 10%">@Resources.estimates.vat </th>
                                            <th style="width: 10%" class="">@Resources.estimates.TotalCost </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.EstimateProducts.Count() > 0)
                                        {
                                            foreach (var item in Model.EstimateProducts.ToList())
                                            {
                                                <tr>
                                                    <td>

                                                        @if (culture.ToLower() == "en" || culture.ToLower() == "en-US")
                                                        {
                                                            @item.Product.productNameEn <br />
                                                            <p> @item.Product.productDescriptionEn</p>
                                                        }
                                                        else
                                                        {
                                                            @item.Product.productNameAr <br />
                                                            <p>@item.Product.productDescriptionAr</p>
                                                        }
                                                    </td>
                                                    <td>@item.periodByMonths</td>
                                                    <td>@item.qty</td>
                                                    <td>
                                                        @String.Format("{0:n}", (((decimal)item.priceInUSD * Model.currencyRate)))
                                                    </td>
                                                    <td class="">
                                                        @String.Format("{0:n}", ((item.vat / 100) * (double)item.Estimate.currencyRate * item.priceInUSD * item.qty))

                                                    </td>
                                                    @{

                                                        var priceinSAR = ((decimal)item.priceInUSD * Model.currencyRate);
                                                        var vatPrice = ((item.vat / 100) * (double)priceinSAR);
                                                        var totalpriceinSARWithVat = (priceinSAR * (decimal)item.qty) + (decimal)vatPrice;
                                                        var totalpriceinSAR = (priceinSAR * (decimal)item.qty);
                                                        var profitPrice = item.priceLi * (double)Model.currencyRate * (item.profit / 100);

                                                    }
                                                    <td>
                                                        @*@((totalpriceinSAR).ToString("#.000"))*@
                                                        @String.Format("{0:n}", ((totalpriceinSAR)))
                                                    </td>
                                                </tr>
                                                subTotal = (decimal)subTotal + totalpriceinSAR;
                                                totalPrice = totalPrice + (totalpriceinSARWithVat);
                                            }
                                        }

                                    </tbody>
                                    <tfoot class="thead-light">
                                        <tr>
                                            <th style="width: 50%">@Resources.estimates.TotalInSAR</th>
                                            <th style="width: 10%"></th>
                                            <th style="width: 10%">@Model.EstimateProducts.Sum(o => o.qty)</th>
                                            <th style="width: 10%">
                                                @*@Model.EstimateProducts.Sum(o => ((decimal)o.priceInUSD * Model.currencyRate))*@
                                                @String.Format("{0:n}", ((Model.EstimateProducts.Sum(o => ((decimal)o.priceInUSD * Model.currencyRate)))))
                                            </th>
                                            <th style="width: 10%">
                                                @*@Model.EstimateProducts.Sum(o => ((o.vat / 100) * (((double)o.Estimate.currencyRate * o.priceLi) + ((o.profit / 100) * (double)o.Estimate.currencyRate * o.priceLi))))*@
                                                @String.Format("{0:n}", Model.EstimateProducts.Sum(o => ((o.vat / 100) * (double)o.Estimate.currencyRate * o.priceInUSD * o.qty)))

                                            </th>
                                            <th style="width: 10%" class="">
                                                @*@totalPrice*@
                                                @String.Format("{0:n}", subTotal)
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="clearfix">
                                    <h6 class="text-muted">@Resources.estimates.Conditions_</h6>

                                    <small class="text-muted">
                                        @Resources.estimates.Price__are_in_saudi_riyals_
                                        <br />
                                        @Resources.estimates.OfferValidity_30_Days
                                        <br />
                                        @Resources.estimates.Supply_A_week_after_the_baptism_or_the_signing_of_the_contract
                                        <br />
                                        @Resources.estimates.Payment_After_the_supply_of_the_receipt
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="float-right">
                                    <p>
                                        <b>@Resources.estimates.Sub_total:</b> <span class="float-right">
                                            &nbsp;
                                            @String.Format("{0:n}", @subTotal) @Resources.estimates.SAR
                                        </span>
                                    </p>
                                    <p>
                                        <b>@Resources.estimates.Tax:</b> <span class="float-right">

                                            @String.Format("{0:n}", Model.EstimateProducts.Sum(o => ((o.vat / 100) * (double)o.Estimate.currencyRate * o.priceInUSD * o.qty)))

                                            @Resources.estimates.SAR
                                        </span>
                                    </p>
                                    <p style="color: #2d3192
                                 ">
                                        <b>@Resources.estimates.Total:</b> <span class="float-right">
                                            @String.Format("{0:n}", (double)@subTotal + Model.EstimateProducts.Sum(o => ((o.vat / 100) * (double)o.Estimate.currencyRate * o.priceInUSD * o.qty)))

                                            @Resources.estimates.SAR
                                        </span>
                                    </p>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="section16">
        <img style="width:100%" src="~/images/sec-7.png" />
    </div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>

<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>


<script>

    $(document).ready(function () {
        window.print();
    })



</script>

