﻿@model JoinSolutions.Website.Data.Estimate
@using JoinSolutions.Website.Helpers;

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    var culture = string.IsNullOrEmpty(CultureHelper.CurrentCulture) ? CultureHelper.DefaultCulture : CultureHelper.CurrentCulture;
    decimal totalPrice = 0;
}

<style>
    .pull-right-flex {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
</style>



<div class="top-invoice-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>Join LTD</div>
                <div>King Abdullah Rd, Al Hamra, 2nd Floor, Deem Plaza</div>
                <div> 2nd Floor, Deem Plaza 6389</div>
                <div>Riyadh 13216</div>
                <div>Phone:  +966503230508</div>
                <div>Email: sales@join.sa</div>
            </div>
            <div class="col-md-6 pull-right">
                <img style="width:100%" src="~/images/logo-big.png" />
            </div>
        </div>
    </div>


</div>

<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    @if (!string.IsNullOrEmpty(Model.description))
                    {
                        <div class="col-md-3 text-center">

                            <div class="inHead">@Resources.estimates.EstimateName</div>
                            <div class="input-group-sm">@Model.description</div>
                        </div>
                    }

                    <div class="col-md-3 text-center">

                        <div class="inHead">@Resources.estimates.estimateDate</div>
                        <div class="input-group-sm">@Model.estimateDate.ToShortDateString()</div>
                    </div>

                    <div class="col-md-3 text-center">

                        <div class="inHead">@Resources.Invoice.Administratot</div>
                        <div class="input-group-sm">@Model.User.fullName</div>
                        <div class="input-group-sm">@Model.User.userEmail</div>
                        <div class="input-group-sm">@Model.User.userPhone</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">

                        <div class="inHead">@Resources.estimates.customerName</div>
                        <div class="input-group-sm">@(Model.Account != null ? Model.Account.accountName : Model.customerName)</div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.customerPhone))
                    {
                        <div class="col-md-3 text-center">

                            <div class="inHead">@Resources.estimates.customerPhone</div>
                            <div class="input-group-sm">@Model.customerPhone</div>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.customerEmail))
                    {
                        <div class="col-md-3 text-center">

                            <div class="inHead">@Resources.estimates.customerEmail</div>
                            <div class="input-group-sm">@Model.customerEmail</div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    @{
        decimal total = 0;
        decimal subTotal = 0;
        decimal allVat = 0;
        decimal quantity = 0;
    }

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="">
                    <div class="table-responsive">
                        <table class="table mt-4 table-centered table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>@Resources.Invoice.Product</th>
                                    <th>@Resources.estimates.periodByMonths</th>
                                    <th style="width: 10%">@Resources.Invoice.Qty</th>
                                    <th style="width: 10%">@Resources.estimates.CostPrice </th>
                                    <th style="width: 10%">@Resources.estimates.vat </th>
                                    <th style="width: 10%" class="">@Resources.estimates.TotalCost </th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.EstimateProducts.Count() > 0)
                                {
                                    foreach (var item in Model.EstimateProducts.ToList())
                                    {
                                        <tr>
                                            <td>

                                                @if (culture.ToLower() == "en" || culture.ToLower() == "en-US")
                                                {
                                                    @item.Product.productNameEn <br />
                                                    <p> @item.Product.productDescriptionEn</p>
                                                }
                                                else
                                                {
                                                    @item.Product.productNameAr <br />
                                                    <p>@item.Product.productDescriptionAr</p>
                                                }
                                            </td>
                                            <td>@item.periodByMonths</td>
                                            <td>@item.qty</td>
                                            <td>
                                                @String.Format("{0:n}", (((decimal)item.priceInUSD * Model.currencyRate)))
                                            </td>
                                            <td class="">
                                                @String.Format("{0:n}", ((item.vat / 100) * (double)item.Estimate.currencyRate * item.priceInUSD * item.qty))

                                            </td>
                                            @{

                                                var priceinSAR = ((decimal)item.priceInUSD * Model.currencyRate);
                                                var vatPrice = ((item.vat / 100) * (double)priceinSAR);
                                                var totalpriceinSARWithVat = (priceinSAR * (decimal)item.qty) + (decimal)vatPrice;
                                                var totalpriceinSAR = (priceinSAR * (decimal)item.qty);
                                                var profitPrice = item.priceLi * (double)Model.currencyRate * (item.profit / 100);

                                            }
                                            <td>
                                                @*@((totalpriceinSAR).ToString("#.000"))*@
                                                @String.Format("{0:n}", ((totalpriceinSAR + (decimal)((item.vat / 100) * (double)item.Estimate.currencyRate * item.priceInUSD * item.qty))))
                                            </td>
                                        </tr>
                                        subTotal = (decimal)subTotal + totalpriceinSAR + (decimal)((item.vat / 100) * (double)item.Estimate.currencyRate * item.priceInUSD * item.qty);
                                        totalPrice = totalPrice + (totalpriceinSARWithVat);
                                    }
                                }

                            </tbody>
                            <tfoot class="thead-light">
                                <tr>
                                    <th style="width: 50%">@Resources.estimates.TotalInSAR</th>
                                    <th style="width: 10%"></th>
                                    <th style="width: 10%">@Model.EstimateProducts.Sum(o => o.qty)</th>
                                    <th style="width: 10%">
                                        @*@Model.EstimateProducts.Sum(o => ((decimal)o.priceInUSD * Model.currencyRate))*@
                                        @String.Format("{0:n}", ((Model.EstimateProducts.Sum(o => ((decimal)o.priceInUSD * Model.currencyRate * (decimal)o.qty)))))
                                    </th>
                                    <th style="width: 10%">
                                        @*@Model.EstimateProducts.Sum(o => ((o.vat / 100) * (((double)o.Estimate.currencyRate * o.priceLi) + ((o.profit / 100) * (double)o.Estimate.currencyRate * o.priceLi))))*@
                                        @String.Format("{0:n}", Model.EstimateProducts.Sum(o => ((o.vat / 100) * (double)o.Estimate.currencyRate * o.priceInUSD * o.qty)))

                                    </th>
                                    <th style="width: 10%" class="">
                                        @*@totalPrice*@
                                        @String.Format("{0:n}", subTotal)
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div> <!-- end table-responsive -->

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix pt-5">
                            <h6 class="text-muted">@Resources.estimates.Conditions_</h6>

                            <small class="text-muted">
                                @Resources.estimates.Price__are_in_saudi_riyals_
                                <br />
                                @Resources.estimates.OfferValidity_30_Days
                                <br />
                                @Resources.estimates.Supply_A_week_after_the_baptism_or_the_signing_of_the_contract
                                <br />
                                @Resources.estimates.Payment_After_the_supply_of_the_receipt
                            </small>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-sm-6">
                        <div class="float-right">
                            <p>
                                <b>@Resources.estimates.Sub_total:</b> <span class="float-right">
                                    &nbsp;
                                    @String.Format("{0:n}", ((Model.EstimateProducts.Sum(o => ((decimal)o.priceInUSD * Model.currencyRate * (decimal)o.qty))))) @Resources.estimates.SAR
                                </span>
                            </p>
                            <p>
                                <b>@Resources.estimates.Tax:</b> <span class="float-right">

                                    @String.Format("{0:n}", Model.EstimateProducts.Sum(o => ((o.vat / 100) * (double)o.Estimate.currencyRate * o.priceInUSD * o.qty)))

                                    @Resources.estimates.SAR
                                </span>
                            </p>
                            <p style="color: #2d3192
                                 ">
                                <b>@Resources.estimates.Total:</b> <span class="float-right">
                                    @String.Format("{0:n}", @subTotal)

                                    @Resources.estimates.SAR
                                </span>
                            </p>

                        </div>
                        <div class="clearfix"></div>
                    </div> <!-- end col -->
                </div>
            </div>

        </div> <!-- end col -->
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    $('document').ready(function () {
        window.print();
    });

</script>