﻿@model JoinSolutions.Website.Data.OpportunityStage

@{
    ViewBag.Title = Resources.estimates.Delete;
}

<h2>@Resources.estimates.Delete</h2>

<h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>
<div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Resources.estimates.opportunityStage
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.opportunityStageName)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" /> |
                                @Html.ActionLink(Resources.estimates.backToOpportunityStages, "Index", null, null, new { @class = "btn btn-info" })
                            </div>
                        }
                        </div>


                        <!-- end .table-responsive-->
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div>
