﻿@model JoinSolutions.Website.Models.OpportuityStageModel

@{
    ViewBag.Title = Resources.estimates.Edit;
}

<h2>@Resources.estimates.Edit</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
          
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.opportunityStageId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.opportunityStageName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.opportunityStageName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.opportunityStageName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Resources.estimates.Edit" class="btn btn-primary"  />
                            </div>
                        </div>
                    </div>
                }


                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

<div>
    @Html.ActionLink(Resources.estimates.backToOpportunityStages, "Index", null, null, new { @class = "btn btn-info" })
</div>
