﻿@model IEnumerable<JoinSolutions.Website.Data.OpportunityStage>

@{
    ViewBag.Title = Resources.estimates.opportunityStages;
}

<h2>@Resources.estimates.opportunityStages</h2>

<p>
    @Html.ActionLink(Resources.estimates.createNewOpportunityStage, "Create", null, null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <table class="table table-striped">
                    <tr>
                        <th>
                            @Resources.estimates.opportunityStage
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.opportunityStageName)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.opportunityStageId }) |
                                @*@Html.ActionLink("Details", "Details", new { id=item.opportunityStageId }) |*@
                                @Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.opportunityStageId })
                            </td>
                        </tr>
                    }

                </table>
                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>