﻿@model JoinSolutions.Website.Data.OfferType

@{
    ViewBag.Title = Resources.estimates.DeleteProposalType;
}

<h2>@Resources.estimates.DeleteProposalType</h2>

<h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resources.estimates.offerNameEn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offerNameEn)
        </dd>

        <dt>
            @Resources.estimates.offerNameAr
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offerNameAr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" /> |
            @Html.ActionLink(Resources.estimates.BackToProposalTypes, "Index", null, null, new { @class = "btn btn-info" })
        </div>
    }
</div>
