﻿@model IEnumerable<JoinSolutions.Website.Data.OfferType>

@{
    ViewBag.Title = @Resources.estimates.OfferTypes;
}

<h2>@Resources.estimates.OfferTypes</h2>

<p>
    @Html.ActionLink(Resources.estimates.AddProposalType, "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <th>
                            @Resources.estimates.offerNameEn
                        </th>
                        <th>
                            @Resources.estimates.offerNameAr
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.offerNameEn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.offerNameAr)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.offerTypeId }) |
                                @Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.offerTypeId })
                            </td>
                        </tr>
                    }

                </table>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>
