﻿.invoiceTop {
    padding: 40px 60px 40px 0px;
    background: #e79749;
    color: #fff;
    position: relative;
}

.invoice .inHead {
    color: #e79749;
    font-weight: bold;
    font-size: 16px;
}

.invoiceDesc .input-group-sm {
    color: #605F5F;
}

.invoiceDesc {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
}

.tableInvoice {
    padding: 0px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 5px #ccc;
    margin: 50px 100px;
}

.invoice {
    background: #FBFBFB;
    padding: 0 0 100px 0;
    background-image: url(../images/footer-ar-report.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60%;
    position: relative;
}

.tableInvoice .thead-light th {
    color: #495057;
    background-color: transparent;
    border-color: #dee2e6;
}

.tableInvoice tr:nth-child(even) {
    background-color: transparent;
}

.inBottom {
    margin: 30px 100px;
}

.tableInvoice tbody tr {
    font-weight: 100;
    font-size: 14px;
}

.pricePadding {
    padding-right: 20px;
    padding-top: 10px;
}

.invoiceTop img {
    width: 100%;
}

.tableInvoice table {
    margin: 0;
}

.invoiceTopText {
    font-size: 16px;
}
.pricePadding p {
    direction: rtl;
    display: flex;
}




ol {
    position: relative;
    overflow: hidden;
    counter-reset: wizard;
    margin: 30px 0;
}

.wizLi {
    position: relative;
    float: right;
    width: 25%;
    text-align: center;
    color: #28a745;
    list-style-type: none;
}

.current ~ .wizLi {
    color: #6c757d;
}

.wizLi:before {
    counter-increment: wizard;
    content: counter(wizard);
    display: block;
    color: #fff;
    background-color: #28a745;
    border: 2px solid #28a745;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 2em;
    position: relative;
    right: 50%;
    margin-bottom: 1em;
    margin-left: -1em;
    z-index: 1;
}

.current ~ .wizLi:before {
    background-color: white;
    color: #6c757d;
    border-color: #ccc;
}

.wizLi + .wizLi:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #28a745;
    height: 2px;
    position: absolute;
    right: -50%;
    top: 1em;
    z-index: 0;
}

.current ~ .wizLi:after {
    background-color: #ccc;
}