﻿@model JoinSolutions.Website.Data.UserPagePermission

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(modal => modal.updatedDate)
    @Html.HiddenFor(modal => modal.createdDate)
    @Html.HiddenFor(modal => modal.createdById)
    @Html.HiddenFor(modal => modal.updateById)
<div class="form-horizontal">
    <h4>UserPagePermission</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.userId, "userId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("userId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pageId, "pageId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("pageId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.pageId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
