﻿@model JoinSolutions.Website.Data.UserPagePermission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserPagePermission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Page.pageNameEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page.pageNameEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User2.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User2.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.permissionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
