﻿@model IEnumerable<JoinSolutions.Website.Data.UserPagePermission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Page.pageNameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User2.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Page.pageNameEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User2.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.permissionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.permissionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.permissionId })
        </td>
    </tr>
}

</table>
