﻿@model JoinSolutions.Website.Data.EstimateProduct

@{
    ViewBag.Title = "Edit";
    string estimateId = Request.Url.Segments.Count() == 4 ? Request.Url.Segments[3] : Model.estimateId.ToString();

}


<div id="divProductDetails">
    <form method="post" action="/EstimateProducts/Create" id="estimateEditProductForm">

        @Html.AntiForgeryToken()

        <div class="form-horizontal row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group col-md-6">
            @Html.LabelFor(model => model.estimateId, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.estimateId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estimateId, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <input id="estimateId" name="estimateId" value="@(estimateId)" type="text" hidden />
            <input id="id" name="id" value="@(Model.id)" type="text" hidden />
            <div class="form-group col-md-6">
                @Html.Label("productId", Resources.estimates.productName, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.DropDownList("productId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.productId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.Label(Resources.estimates.qty, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(model => model.qty, new { @class = "form-control", @min = 1, @type = "number" })
                    @Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.Label(Resources.estimates.periodByMonths, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(model => model.periodByMonths, new { @class = "form-control", @min = 1, @type = "number" })
                    @Html.ValidationMessageFor(model => model.periodByMonths, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.Label(Resources.estimates.CostPrice, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(model => model.priceLi, new { @class = "form-control", @min = 1, @type = "number" })
                    @Html.ValidationMessageFor(model => model.priceLi, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group col-md-6">
                @Html.Label(Resources.estimates.profit, htmlAttributes: new { @class = "control-label" }) %
                <div class="">
                    @Html.TextBoxFor(model => model.profit, new { @class = "form-control", @min = 1, @type = "number" })
                    @Html.TextBox("profitPrice", ((Model.profit / 100) * Model.priceLi * (double)Model.Estimate.currencyRate), new { @class = "form-control", @min = 1, @type = "number", @readOnly = "readOnly", @style = "background-color: gainsboro" })
                    @Html.ValidationMessageFor(model => model.profit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.Label(Resources.estimates.vat, htmlAttributes: new { @class = "control-label" }) %
                <div class="">
                    @Html.TextBoxFor(model => model.vat, "15", new { @class = "form-control", @readOnly = "readOnly", @style = "background-color: gainsboro" })
                    @Html.TextBox("vatPrice", ((Model.vat / 100) * Model.priceLi * (double)Model.Estimate.currencyRate), new { @class = "form-control", @min = 1, @type = "number", @readOnly = "readOnly", @style = "background-color: gainsboro" })
                    @Html.ValidationMessageFor(model => model.vat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.Label(Resources.estimates.priceInUSD, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(model => model.priceInUSD, new { @class = "form-control", @min = 1, @type = "number", @readOnly = "readOnly", @style = "background-color: gainsboro" })
                    @Html.ValidationMessageFor(model => model.priceInUSD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.Label(Resources.estimates.PriceInSAR, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBox("priceInSAR", ((decimal)Model.priceInUSD * Model.Estimate.currencyRate).ToString("#.000"), new { @class = "form-control", @min = 1, @type = "number", @readOnly = "readOnly", @style = "background-color: gainsboro" })
                </div>
            </div>

            <div class="form-group col-md-12">

                <input type="submit" id="btnAddNewProduct" value="@Resources.estimates.Save" class="btn btn-primary" />

            </div>
        </div>

    </form>
</div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


<script type="text/javascript">
    //document.getElementById("estimateId").value = document.getElementById("id").value;

    $('#btnAddNewProduct').click(
        function () {
            $("#estimateEditProductForm").submit();
        });

    /* Attach a submit handler to the form */
    $("#estimateEditProductForm").submit(function (event) {
        var ajaxRequest;

        /* Stop form from submitting normally */
        event.preventDefault();

        /* Clear result div*/
        $("#result").html('');

        /* Get from elements values */
        var values = $(this).serialize();

        debugger;
        /* Send the data using post and put the results in a div. */
        /* I am not aborting the previous request, because it's an
           asynchronous request, meaning once it's sent it's out
           there. But in case you want to abort it you can do it
           by abort(). jQuery Ajax methods return an XMLHttpRequest
           object, so you can just use abort(). */

        var formType = document.getElementById("formType").value;
        if (formType == "Add") {
            ajaxRequest = $.ajax({
                url: "/EstimateProducts/Create",
                type: "post",
                data: values
            });
        }
        else {
            ajaxRequest = $.ajax({
                url: "/EstimateProducts/Edit",
                type: "post",
                data: values
            });
        }

        $('#standard-modal').modal('hide');
        window.location.href = "/Estimates/Edit/" + $("#estimateId").val();
        /*  Request can be aborted by ajaxRequest.abort() */

        ajaxRequest.done(function (response, textStatus, jqXHR) {

            // Show successfully for submit message
            $("#result").html('Submitted successfully');
        });

        /* On failure of request this function will be called  */
        ajaxRequest.fail(function () {

            // Show error
            $("#result").html('There is error while submit');
        });
    });

    $('#priceLi').on('keyup change', function () {
        debugger;
        var currencyRate = parseFloat($("#currencyRate").val());
        var priceCost = parseFloat($("#priceLi").val());
        var vatPercentage = parseFloat($("#vat").val());
        var vatPrice = priceCost * currencyRate * (vatPercentage / 100);
        $("#vatPrice").val(vatPrice.toFixed(3));
        var profitPercentage = parseFloat($("#profit").val());
        var profitPrice = priceCost * currencyRate * (profitPercentage / 100);
        $("#profitPrice").val(profitPrice.toFixed(3));
        var totalUSD = parseFloat(priceCost + (priceCost * (profitPercentage / 100))).toFixed(3);
        $("#priceInUSD").val(totalUSD);
        var totalSAR = parseFloat((priceCost + profitPrice) * currencyRate).toFixed(3);
        $("#priceInSAR").val(totalSAR);
    });

    $('#profit').on('keyup change', function () {
        debugger;
        var currencyRate = parseFloat($("#currencyRate").val());
        var priceCost = parseFloat($("#priceLi").val());
        var vatPercentage = parseFloat($("#vat").val());
        var vatPrice = priceCost * currencyRate * (vatPercentage / 100);
        $("#vatPrice").val(vatPrice.toFixed(3));
        var profitPercentage = parseFloat($("#profit").val());
        var profitPrice = priceCost * currencyRate * (profitPercentage / 100);
        $("#profitPrice").val(profitPrice.toFixed(3));
        var totalUSD = parseFloat(priceCost + (priceCost * (profitPercentage / 100))).toFixed(3);
        $("#priceInUSD").val(totalUSD);
        var totalSAR = parseFloat((priceCost + profitPrice) * currencyRate).toFixed(3);
        $("#priceInSAR").val(totalSAR);
    });
</script>
