﻿@model JoinSolutions.Website.Data.EstimateProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">



                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.estimateId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.estimateId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.qty)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.qty)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.vat)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.vat)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.priceLi)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.priceLi)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.priceInUSD)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.priceInUSD)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.profit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.profit)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Product.productSKU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Product.productSKU)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink(Resources.estimates.EditEstimate, "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink(Resources.estimates.BackToEstimates, "Index", null, null, new { @class = "btn btn-info" })
                </p>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

