﻿@model IEnumerable<JoinSolutions.Website.Data.EstimateProduct>

<div style="margin-top:30px">
    <button type="button" class="btn btn-primary" onclick="openCreateModal()">@Resources.estimates.AddNewProduct</button>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="padding-left:0px;padding-right:0px">


                <table class="table table-striped">
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.estimateId)
                            </th>*@
                        <th>
                            @Resources.estimates.productNameEn
                        </th>
                        <th>
                            @Resources.estimates.periodByMonths
                        </th>
                        <th>
                            @Resources.estimates.qty
                        </th>
                        <th>
                            @Resources.estimates.CostPrice
                        </th>
                        <th>
                            @Resources.estimates.TotalCost
                        </th>
                        <th>
                            @Resources.estimates.vat
                        </th>
                        <th>
                            @Resources.estimates.profit
                        </th>
                        <th>
                            @Resources.estimates.priceInUSD
                        </th>
                        <th>
                            @Resources.estimates.PriceInSAR
                        </th>
                        <th>
                            @Resources.estimates.TotalInUSD
                        </th>
                        <th>
                            @Resources.estimates.TotalInSAR
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        var priceLiTotal = item.priceLi * item.qty;
                        var vatPrice = ((item.vat / 100) * (((double)item.Estimate.currencyRate * item.priceLi) + ((item.profit / 100) * (double)item.Estimate.currencyRate * item.priceLi)));
                        var profitPrice = item.priceLi * (double)item.Estimate.currencyRate * (item.profit / 100);
                        var priceInSAR = (item.priceInUSD) * (float)item.Estimate.currencyRate;
                        var totalInUSD = ((item.priceInUSD + vatPrice) * item.qty);
                        var totalInSAR = ((priceInSAR + vatPrice) * item.qty);

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.productSKU)
                            </td>
                            <td>
                                @item.periodByMonths
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.qty)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.priceLi)*@
                                @String.Format("{0:n}", item.priceLi)
                            </td>
                            <td>
                                @*@priceLiTotal.ToString("#.000")*@
                                @String.Format("{0:n}", priceLiTotal)
                            </td>
                            <td>
                                @*@((item.vat/100) * (((double)item.Estimate.currencyRate * item.priceLi ) + ((item.profit / 100) * (double)item.Estimate.currencyRate * item.priceLi)) )*@
                                @String.Format("{0:n}", ((item.vat / 100) * (((double)item.Estimate.currencyRate * item.priceLi) + ((item.profit / 100) * (double)item.Estimate.currencyRate * item.priceLi))))
                            </td>
                            <td>
                                @*@((item.profit / 100) * (double)item.Estimate.currencyRate * item.priceLi )*@
                                @String.Format("{0:n}", ((item.profit / 100) * (double)item.Estimate.currencyRate * item.priceLi))

                            </td>
                            <td>
                                @*@item.priceInUSD*@
                                @String.Format("{0:n}", item.priceInUSD)
                            </td>
                            <td>
                                @*@priceInSAR.ToString("#.000")*@
                                @String.Format("{0:n}", priceInSAR)
                            </td>

                            <td>
                                @*@totalInUSD.ToString("#.000")*@
                                @String.Format("{0:n}", totalInUSD)
                            </td>
                            <td>
                                @*@totalInSAR.ToString("#.000")*@
                                @String.Format("{0:n}", totalInSAR)
                            </td>
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                                <a href="javascript:void(0)" onclick="openModal(@(item.id ))">@Resources.estimates.Edit</a>
                                @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                                @Html.ActionLink(Resources.estimates.Delete, "Delete", "EstimateProducts", new { id = item.id }, null)
                            </td>
                        </tr>
                    }

                </table>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>


<div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">@Resources.estimates.addEditProduct</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div id="divProductDetails">
                    @Html.Partial("~/Views/EstimateProducts/_Create.cshtml", new JoinSolutions.Website.Data.EstimateProduct()
               {
                   priceInUSD = (1 * 0.15 * 0.01),
                   priceLi = 1,
                   profit = 1,
                   qty = 1,
                   vat = 15,
                   periodByMonths = 12,
                   Estimate = new JoinSolutions.Website.Data.Estimate() { currencyRate = (decimal)3.75 }
               })
                </div>

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<input id="formType" name="formType" value="Add" hidden />

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@

<script type="text/javascript">

    function openModal(productId) {
        $('#standard-modal').modal('show');
        document.getElementById("formType").value = "Edit";
        $.ajax({
            url: "/EstimateProducts/EditProduct",
            type: "post",
            data: { "id": productId },
            dataType: "html",
            async: false,
            success: function (data) {

                debugger;
                $("#divProductDetails").replaceWith(data);

                //open modal
                //$('#standard-modal').modal('show');

                //$("#standard-modal").modal({ show: true });
            }
        });


    }

    function ClearEstimateProductForm() {
        $("#qty").val(1);
        $("#vat").val(15);
        $("#priceLi").val(1);
        $("#priceInUSD").val(1);
        $("#profit").val(1);
        $("#profitPrice").val(0.01);
        $("#vatPrice").val(0.15);
        $("#priceInSAR").val(3.79);
    }

    function openCreateModal() {
        ClearEstimateProductForm();
        document.getElementById("formType").value = "Add";
        $('#standard-modal').modal('show');
    }

</script>