﻿
@{
    ViewBag.Title = Resources.pageTitle.about;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    body:lang(ar) {
    text-align:right;
    font-family:myFont;
}
</style>

 <!-- About Page Banner -->
<section class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h2>@Resources.about.aboutus</h2>
                    <h2 class="subheading">@Resources.about.whoWeAre</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Page Banner -->


<div class="container about-details">
    <div class="col-md-12">
        <p>@Resources.about.description</p>
        <h1>@Resources.about.mainObjectives</h1>
        <p>@Resources.about.objectivesDescription</p>

        <h1>
            @Resources.about.seekAndFindHeader
        </h1>

        <p>
            @Resources.about.seekAndFindBody
        </p>

        <div class="about-approach">
            <h1>@Resources.about.OurApproachHeader</h1>

            <p>
                @Resources.about.OurApproachsection1
            </p>
            <p>
                @Resources.about.OurApproachsection2
            </p>
            <p>
                @Resources.about.OurApproachsection3
            </p>
            <p>
                @Resources.about.OurApproachsection4
            </p>
            <p>
                @Resources.about.OurApproachsection5
            </p>
        </div>
    </div>

</div>














