﻿
@{
    ViewBag.Title = Resources.pageTitle.coaching;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 <!-- Coaching Page Banner -->
<section class="coaching-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h2>
                        @Resources.coaching.heading
                    </h2>
                    <h2 class="subheading">@Resources.coaching.subheading</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Coaching Page Banner -->


<section class="choose-session-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="sec_title">
                  @Resources.coaching.coachhead
                </h2>
                <h3 class="">                    
                @Resources.coaching.choose
                </h3>
            </div>

        </div>
    </div>     
</section>



<!-- Choose Session -->
<section class="service_section commonSection choose-session">
    <div class="container">
        <div class="row custom_column">
            <div class="col-lg-4 col-sm-4 col-md-4">
                <a class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-linkedin"></i>
                            <h3>@Resources.coaching.choose1</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.coaching.choose1des</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <a class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-bullseye"></i>
                            <h3>@Resources.coaching.choose2</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.coaching.choose2des</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <a class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-file"></i>
                            <h3>@Resources.coaching.choose3</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.coaching.choose3des</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <a class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-signal"></i>
                            <h3>@Resources.coaching.choose4</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.coaching.choose4des</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
                <a class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-search"></i>
                            <h3>@Resources.coaching.choose5</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.coaching.choose5des</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4">
                <a class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-bullhorn"></i>
                            <h3>@Resources.coaching.choose6</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.coaching.choose6des</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="text-center">
            <a class="common_btn red_bg" href="/home/coachingsessions"><span>@Resources.coaching.booknow</span></a>
        </div>
    </div>
</section>
<!-- Choose Session -->


<!-- Featured Coaches -->
@*<section class="commonSection team featured-coaches">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">        
                <h2 class="sec_title">@Resources.coaching.featured</h2>
            </div>
        </div>
    </div>
    <div class="team_slider">
        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture7.jpg" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.coaching.hannah</h5>                
            </div>
        </div>
        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture6.jpg" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.coaching.rahman</h5>                
            </div>
        </div>
        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture5.png" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.coaching.ahmed</h5>              
            </div>
        </div>

        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture8.jpg" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.coaching.abdullah</h5>               
            </div>
        </div>


    </div>


</section>*@
<!-- Featured Coaches -->