﻿
@{
    ViewBag.Title = Resources.pageTitle.coachingsession;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 <!-- Coaching Page Banner -->
<section class="coaching-session-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h2>
                    @Resources.coachingsession.heading
                    </h2>
                    <h2 class="subheading">
                        @Resources.coachingsession.subheading
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Coaching Page Banner -->

<section class="service_section_2 commonSection session-listing">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session1</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session1des
                        </p>
                        <div class="">
                            <h4>30 @Resources.coachingsession.hour</h4>
                            <h4>400 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session2</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session2des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>500 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session3</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session3des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>200 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session4</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session4des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>400 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session5</h3>
                    <div class="session-value">
                        <p>                            
                            @Resources.coachingsession.session5des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>300 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session6</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session6des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>150 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session7</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session7des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>250 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session8</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session8des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>250 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session9</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session9des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>350 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session10</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session10des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>400 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session11</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session11des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>350 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.coachingsession.session12</h3>
                    <div class="session-value">
                        <p>
                            @Resources.coachingsession.session12des
                        </p>
                        <div class="">
                            <h4>1 @Resources.coachingsession.hour</h4>
                            <h4>250 @Resources.coachingsession.riyal</h4>
                        </div>
                        <a class="common_btn red_bg" href="/home/contact"><span> @Resources.coachingsession.book</span></a>
                    </div>

                </div>
            </div>



        </div>
    </div>
</section>