﻿
@{
    ViewBag.Title = Resources.pageTitle.contact;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


    <style>
        body:lang(ar) {
            text-align: right;
            font-family: myFont;
        }
    </style>

    <section class="commonSection ContactPage" style="margin-top:80px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="sub_title">@Resources.contact.mainHeader</h4>
                    <h2 class="sec_title">@Resources.contact.secondaryHeader</h2>
                    <p class="sec_desc">
                        @Resources.clients.descriptionSection1<br> @Resources.clients.descriptionSection2
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-md-10 col-md-offset-1">
                    <form action="#" method="post" class="contactFrom" id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <input class="input-form required" type="text" name="f_name" id="f_name" placeholder="@Resources.contact.fname">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <input class="input-form required" type="text" name="l_name" id="l_name" placeholder="@Resources.contact.lname">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <input class="input-form required" type="email" name="email" id="email" placeholder="@Resources.contact.yourMail">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <input class="input-form" type="text" name="phone" id="phone" placeholder="@Resources.contact.yourMobile">
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <textarea class="input-form required" name="con_message" id="con_message" placeholder="@Resources.contact.Message"></textarea>
                            </div>
                        </div>
                        <button onclick="test()" class="common_btn red_bg" type="submit" id="con_submit"><span>@Resources.contact.btnSend</span></button>
                    </form>
                </div>
            </div>
        </div>
    </section>

<script src="https://smtpjs.com/v3/smtp.js">
</script>

<script>
    function test() {
        Email.send({
            Host: "app.smtp2go.com",
            Username: "rasheedhamza005@gmail.com",
            Password: "5aTBBSZpkCVB",
            To: 'rasheedhamza005@gmail.com',
            From: "yesyoyoy@gmail.com",
            Subject: "This is the subject",
            Body: "And this is the body"
        }).then(
            message => alert(message)
            );
    }

</script>