﻿
@{
    ViewBag.Title = Resources.pageTitle.employer;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


 <!-- Employer Page Banner -->
<section class="employer-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">                  
                    <h2>@Resources.employer.heading</h2>
                    <h2 class="subheading">@Resources.employer.subheading</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Employer Page Banner -->


<!-- Employer Description -->
<section class="employer-description">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
                <a href="javascript:void(0)" class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">                           
                            <h2>@Resources.employer.emp1</h2>
                        </div>
                        <div class="back">                           
                            <p>
                                @Resources.employer.emp1des
                            </p>
                          
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <a href="javascript:void(0)" class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">                            
                            <h2>@Resources.employer.emp2</h2>
                        </div>
                        <div class="back">                           
                            <p>
                              @Resources.employer.emp2des
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <a href="javascript:void(0)" class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">                            
                            <h2>@Resources.employer.emp3</h2>
                        </div>
                        <div class="back">                         
                           <p>
                              @Resources.employer.emp3des
                           </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Employer Description -->


<!-- How we do -->

<section class="how-we-do-section">
    <h2>
        @Resources.employer.section2head
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="how-we-do-box hang">
                    <div class="image">
                        <i class="fa fa-user"></i>  
                    </div>
                    <div class="how-we-do-text">@Resources.employer.we1</div>
                    <div>
                        <p>
                           @Resources.employer.we1des

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="how-we-do-box hang">
                    <div class="image">
                        <i class="fa fa-comments"></i>  
                    </div>
                    <div class="how-we-do-text">@Resources.employer.we2</div>
                    <div>
                        <p>
                            @Resources.employer.we2des
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="how-we-do-box hang">
                    <div class="image">
                        <i class="fa fa-users"></i>                      
                    </div>
                    <div class="how-we-do-text">@Resources.employer.we3</div>
                    <div>
                        <p>
                            @Resources.employer.we3des
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="how-we-do-box hang">
                    <div class="image">
                        <i class="fa fa-trophy"></i> 
                    </div>
                    <div class="how-we-do-text">@Resources.employer.we4</div>
                    <div>
                        <p>
                           @Resources.employer.we4des
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>

<!-- How we do -->


<!-- Contact Us -->

<section class="commonSection ready">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 col-md-9">
                <h2 class="sec_title white">@Resources.ready.header</h2>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-3 text-right">
                <a class="common_btn" href="/home/contact"><span>@Resources.ready.contact</span></a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us -->