﻿
@{
    ViewBag.Title = Resources.pageTitle.index;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .header_01{
        background:transparent;
    }
    
    .fixedHeader {
        background: #2d3192;
    }



</style>


<!-- Revolution Slider -->
<section class="rev_slider">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_3" class="rev_slider" data-version="5.4.5">
            <ul>
                <!-- MINIMUM SLIDE STRUCTURE -->
                <li data-transition="random" data-masterspeed="1000">
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="~/images/homepage/banner-laptops2.jpg" alt="Sky" class="rev-slidebg">
                    <div class="tp-caption tp-resizeme normalWraping layer_1"
                         data-frames='[{"delay":1300,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['-124', '-110', '-100', '-50']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-fontsize="20"
                         data-lineheight="36"
                         data-fontweight="400"
                         data-letterspacing="2"
                         data-color="#FFF"
                         data-textAlign="center">@Resources.slider.welcomeMessage</div>
                    <div class="tp-caption tp-resizeme normalWraping layer_2"
                         data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['12', '20', '10', '25']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-word-wrap="['normal']"
                         data-white-break="['break-all']"
                         data-fontsize="['110', '70', '60', '40']"
                         data-lineheight="['112', '80', '65', '50']"
                         data-fontweight="700"
                         data-letterspacing="['4.4', '4.4', '2', '1']"
                         data-color="#FFF"
                         data-textAlign="center">@Resources.slider.brandingSection1<br>@Resources.slider.brandingSection2</div>
                    <div class="tp-caption tp-resizeme normalWraping layer_3"
                         data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['212', '200', '150', '140']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-fontsize="16"
                         data-lineheight=""
                         data-fontweight="400"
                         data-textAlign="center">                                               
                            <a href="/home/recruiters" class="common_btn_blue red_bg"><span>@Resources.slider.btnRecruiter</span></a>                      
                    </div>
                </li>
                <li data-transition="random" data-masterspeed="1000">
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="~/images/slider/2_2.jpg" alt="Sky" class="rev-slidebg">
                    <div class="tp-caption tp-resizeme normalWraping layer_1"
                         data-frames='[{"delay":1300,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['-124', '-110', '-100', '-50']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-fontsize="20"
                         data-lineheight="36"
                         data-fontweight="400"
                         data-letterspacing="2"
                         data-color="#FFF"
                         data-textAlign="center">@Resources.slider.welcomeMessage</div>
                    <div class="tp-caption tp-resizeme normalWraping layer_2"
                         data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['12', '20', '10', '25']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-word-wrap="['normal']"
                         data-white-break="['break-all']"
                         data-fontsize="['110', '70', '60', '40']"
                         data-lineheight="['112', '80', '65', '50']"
                         data-fontweight="700"
                         data-letterspacing="['4.4', '4.4', '2', '1']"
                         data-color="#FFF"
                         data-textAlign="center">
                         @Resources.slider.experienceYearsSection1<br> @Resources.slider.experienceYearsSection2
                         </div>
                    <div class="tp-caption tp-resizeme normalWraping layer_3"
                         data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['212', '200', '150', '140']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-fontsize="16"
                         data-lineheight=""
                         data-fontweight="400"
                         data-textAlign="center">                     
                            <a href="/home/recruiters" class="common_btn_blue red_bg"><span>@Resources.slider.btnRecruiter</span></a>                
                    </div>
                </li>
                <li data-transition="random" data-masterspeed="1000">
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="~/images/slider/1_1.jpg" alt="Sky" class="rev-slidebg">
                    <div class="tp-caption tp-resizeme normalWraping layer_1"
                         data-frames='[{"delay":1300,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['-124', '-110', '-100', '-50']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-fontsize="20"
                         data-lineheight="36"
                         data-fontweight="400"
                         data-letterspacing="2"
                         data-color="#FFF"
                         data-textAlign="center">@Resources.slider.welcomeMessage</div>
                    <div class="tp-caption tp-resizeme normalWraping layer_2"
                         data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['12', '20', '10', '25']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-word-wrap="['normal']"
                         data-white-break="['break-all']"
                         data-fontsize="['110', '70', '60', '40']"
                         data-lineheight="['112', '80', '65', '50']"
                         data-fontweight="700"
                         data-letterspacing="['4.4', '4.4', '2', '1']"
                         data-color="#FFF"
                         data-textAlign="center">@Resources.slider.recruitmentSection1<br> @Resources.slider.recruitmentSection2</div>
                    <div class="tp-caption tp-resizeme normalWraping layer_3"
                         data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="['212', '200', '150', '140']"
                         data-width="100%"
                         data-height="['auto]"
                         data-whitesapce="['normal']"
                         data-fontsize="16"
                         data-lineheight=""
                         data-fontweight="400"
                         data-textAlign="center">                       
                            <a href="/home/recruiters" class="common_btn_blue red_bg"><span>@Resources.slider.btnRecruiter</span></a>                     
                    </div>
                </li>
            </ul><!-- END SLIDES LIST -->
        </div>
    </div>
</section>
<!-- Revolution Slider -->
<!-- Services Section -->
<section class="service_section home-service commonSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sub_title2">@Resources.services.header</h4>
                <h2 class="sec_title white">    @Resources.services.itemsSection1<br> @Resources.services.itemsSection2</h2>
                <p class="sec_desc color_aaa">
                    @Resources.services.descriptionSection1<br> @Resources.services.descriptionSection2
                </p>
            </div>
        </div>
        <div class="row custom_column">
            <div class="col-lg-3 col-sm-4 col-md-3">
                <a  class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-bullhorn"></i>
                            <h3>@Resources.services.service1</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.services.service1des</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-3">
                <a  class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-headphones"></i>
                            <h3>@Resources.services.service2</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.services.service2des</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-3">
                <a  class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-bullseye"></i>
                            <h3>@Resources.services.service3</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.services.service3des</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-3">
                <a  class="icon_box_1 text-center">
                    <div class="flipper">
                        <div class="front">
                            <i class="fa fa-search"></i>
                            <h3>@Resources.services.service4</h3>
                        </div>
                        <div class="back">
                            
                            <p>@Resources.services.service4des</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-3">
                <a  class="icon_box_1 text-center">
                    <div class="flipper">                  
                        <div class="front">
                            <i class="fa fa-handshake-o"></i>
                            <h3>@Resources.services.service5</h3>
                        </div>
                        <div class="back">
                           
                            <p>@Resources.services.service5des</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Services Section -->
<!-- About Agency Section -->
<section class="commonSection ab_agency">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 PR_79">
                <h4 class="sub_title">@Resources.slider.welcomeMessage</h4>
                <h2 class="sec_title MB_45">@Resources.aboutAgency.header</h2>
                <p class="sec_desc">
                    @Resources.aboutAgency.description
                </p>
                <a class="common_btn red_bg" href="/home/about"><span>@Resources.aboutAgency.btnLearnMore</span></a>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="ab_img2">
                    <img src="~/images/homepage/network-diverse.jpeg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Agency Section -->


<!--VALUES SECTION -->

<section class="value-section">
    <div class="container">
        <h2>@Resources.ourValues.Heading</h2>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <article>
                <div class="circle icon-1"></div>
                <div class="icon-title"><p>@Resources.ourValues.Passionate</p></div>
                <div class="icon-info"><p>
                @Resources.ourValues.PassionateDescription
                </p>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <article>
                <div class="circle icon-2"></div>
                <div class="icon-title"><p>@Resources.ourValues.Collaboration</p></div>
                <div class="icon-info">
                <p>
                 @Resources.ourValues.CollaborationDescription
               </p></div>
            </article>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <article>
                <div class="circle icon-3"></div>
                <div class="icon-title"><p>@Resources.ourValues.Dependable</p></div>
                <div class="icon-info">
                <p>
                  @Resources.ourValues.DependableDescription
                </p></div>
            </article>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <article>
                <div class="circle icon-4"></div>
                <div class="icon-title"><p>@Resources.ourValues.Integrity</p></div>
                <div class="icon-info">
                <p>
                    @Resources.ourValues.IntegrityDescription
                </p></div>
            </article>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <article>
                <div class="circle icon-5"></div>
                <div class="icon-title"><p>@Resources.ourValues.Performance</p></div>
                <div class="icon-info">
                <p>
                    @Resources.ourValues.PerformanceDescription
                </p></div>
            </article>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <article>
                <div class="circle icon-6"></div>
                <div class="icon-title"><p>@Resources.ourValues.Understanding</p></div>
                <div class="icon-info"><p>
                  @Resources.ourValues.UnderstandingDescription   
               </p></div>
            </article>
        </div>
    </div>
</section>

<!--VALUES SECTION -->



<!-- What We Do Section -->
<section class="commonSection what_wedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sub_title">@Resources.whatWeDo.mainHeader</h4>
                <h2 class="sec_title">@Resources.whatWeDo.secondaryHeader</h2>
                <p class="sec_desc">
                    @Resources.whatWeDo.descriptionSection1<br />@Resources.whatWeDo.descriptionSection2
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="videoWrap">
                    <img src="~/images/homepage/thumbnail.jpg" alt="thumbnail">
                    <div class="play_video">
                        <a class="video_popup" href="~/assets/join-video.mp4"><i class="fa fa-play"></i></a>
                        @*<h2>@Resources.whatWeDo.video</h2>*@
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-4 col-sm-5 col-md-4">
                <h4 class="sub_title">@Resources.whatWeDo.subscriptionMainHeader</h4>
                <h2 class="sec_title">@Resources.whatWeDo.subscriptionSecondaryHeader</h2>
            </div>
            <div class="col-lg-8 col-sm-7 col-md-8">
                <form action="" method="post" class="subscribefrom">
                    <input type="email" placeholder="@Resources.whatWeDo.txtsearch" name="email">
                    <button class="common_btn red_bg" type="submit" name="submit"><span>@Resources.whatWeDo.btnSubscription</span></button>
                </form>
            </div>
        </div>*@
    </div>
</section>
<!-- What We Do Section -->

<!-- FunFact Section -->
<section class="commonSection funfact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-3 noPadding">
                <div class="singlefunfact text-center">
                    <h1 data-counter="20" class="timer"><span class="countSpan">@Resources.funFact.firstNumber1</span>@Resources.funFact.secondNumber1</h1>
                    <h3>@Resources.funFact.projectsCompleted</h3>
                </div>
            </div>
            @*<div class="col-lg-3 col-sm-6 col-md-3 noPadding">
                <div class="singlefunfact text-center">
                    <h1 data-counter="480" class="timer"><span class="countSpan"></span>@Resources.funFact.firstNumber2</h1>
                    <h3>@Resources.funFact.activeClients</h3>
                </div>
            </div>*@
            <div class="col-lg-4 col-sm-6 col-md-3 noPadding">
                <div class="singlefunfact text-center">
                    <h1 data-counter="250" class="timer"><span class="countSpan"></span>@Resources.funFact.firstNumber3</h1>
                    <h3>@Resources.funFact.emplyedPersons</h3>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-3 noPadding">
                <div class="singlefunfact text-center">
                    <h1 data-counter="55" class="timer"><span class="countSpan">@Resources.funFact.firstNumber4</span>@Resources.funFact.secondNumber4</h1>
                    <h3>@Resources.funFact.happyClients</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FunFact Section -->
<!-- Trust Clients Section -->
<section class="commonSection trustClient">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="CL_content">
                    <img src="~/images/homepage/trusted.jpeg" alt="">
                    <div class="abc_inner">
                        <div class="row">
                            <div class="col-lg-5 col-sm-5 col-md-5">
                            </div>
                            <div class="col-lg-7 col-sm-7 col-md-7">
                                <div class="abci_content">
                                    <h2>@Resources.trustClients.Header</h2>
                                    <p>
                                        @Resources.trustClients.Description
                                    </p>
                                    <a class="common_btn red_bg" href="/home/contact"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trust Clients Section -->


        <!-- Testimonial 2 Section -->
<section class="commonSection testimonial_2">
    <div class="container">
        <div class="row">
            <div id="tabs" class="testimoniTab">
                <div class="col-lg-5 col-sm-5">
                    <h4 class="sub_title color_fff">our testimonials</h4>
                    <h2 class="sec_title white">happy customers</h2>
                    <ul class="slider_testimoial">
                        <li class="active control_item">
                            <a href="#tab_1" data-toggle="tab">
                                <span><img src="~/images/homepage/client1.jpeg" alt="" /></span>
                                <div class="author_detail">
                                    <h5>@Resources.happyClient.client1name</h5>
                                    <h6>@Resources.happyClient.client1role</h6>
                                </div>
                            </a>
                        </li>
                        <li class="control_item">
                            <a href="#tab_2" data-toggle="tab">
                                <span><img src="~/images/homepage/client2.jpg" alt="" /></span>
                                <div class="author_detail">
                                    <h5>@Resources.happyClient.client2name</h5>
                                    <h6>@Resources.happyClient.client2role</h6>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-7 col-sm-7">
                    <div class="dots_owl"></div>
                    <div class="tab-content clearfix">
                        <div class="tab-pane fade in active testi_con" id="tab_1">
                            <p>
                            @Resources.happyClient.client1des
                            </p>
                            
                        </div>
                        <div class="tab-pane fade testi_con" id="tab_2">
                            <p>
                                @Resources.happyClient.client2des
                            </p>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial 2 Section -->
<!-- Team Section -->
@*<section class="commonSection team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sub_title">@Resources.team.mainHeader</h4>
                <h2 class="sec_title">@Resources.team.secondaryHeader</h2>
                <p class="sec_desc">
                    @Resources.team.descriptionSection1<br> @Resources.team.desciptionSection2
                </p>
            </div>
        </div>
    </div>
    <div class="team_slider">
        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture7.jpg" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.team.name1</h5>
                <h6>@Resources.team.job1</h6>
            </div>
        </div>
        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture6.jpg" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.team.name2</h5>
                <h6>@Resources.team.job2</h6>
            </div>
        </div>
        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture5.png" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.team.name3</h5>
                <h6>@Resources.team.job3</h6>
            </div>
        </div>
        
        <div class="singleTM">
            <div class="tm_img">
                <img src="~/images/team/Picture8.jpg" />
                <div class="tm_overlay">
                    <div class="team_social">
                        <a href="#"><span>@Resources.socialLinks.Facebook</span></a>
                        <a href="#"><span>@Resources.socialLinks.Twitter</span></a>
                        <a href="#"><span>@Resources.socialLinks.YouTube</span></a>
                    </div>
                    <a href="#" class="common_btn"><span>@Resources.aboutAgency.btnLearnMore</span></a>
                </div>
            </div>
            <div class="detail_TM">
                <h5>@Resources.team.name4</h5>
                <h6>@Resources.team.job4</h6>
            </div>
        </div>
    </div>
</section>*@
<!-- Team Section -->
<!-- Client Section -->

<section class="commonSection client our-client">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sub_title">@Resources.clients.mainHeader</h4>
                <h2 class="sec_title">@Resources.clients.secondaryHeader</h2>
                <p class="sec_desc">
                    @Resources.clients.descriptionSection1<br> @Resources.clients.descriptionSection2
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="client_slider">
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (2).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (3).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (4).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (5).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (6).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (7).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (8).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (11).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (12).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (13).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (14).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (15).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (16).png" />
                        </a>
                    </div>
                    <div class="singleClient">
                        <a href="#">
                            <img src="~/images/client/output-onlinepngtools (17).png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Client Section -->
<!-- Testimonial Section -->
@*<section class="commonSection testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12 text-center">
                <div class="testimonial_content">
                    <div class="testi_icon"><i class="mei-team"></i></div>
                    <h2>@Resources.testimonial.headerSection1<span>@Resources.testimonial.headerSection2</span></h2>
                    <p>
                        @Resources.testimonial.DescriptionSection1<br> @Resources.testimonial.DescriptionSection2
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Testimonial Section -->
<!-- Blog Section -->
@*<section class="commonSection blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sub_title">@Resources.blog.mainHeader</h4>
                <h2 class="sec_title">@Resources.blog.secondaryHeader</h2>
                <p class="sec_desc">
                    @Resources.clients.descriptionSection1<br> @Resources.clients.descriptionSection2
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="latestBlogItem">
                    <div class="lbi_thumb">
                        <img src="~/images/blog/1.jpg" alt="">
                    </div>
                    <div class="lbi_details">
                        <a href="#" class="lbid_date">13 Feb</a>
                        <h2><a href="blog_single.html">How to recruit for the unexpected</a></h2>
                        <a class="learnM" href="blog-details.html">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="latestBlogItem">
                    <div class="lbi_thumb">
                        <img src="~/images/blog/2.jpg" alt="">
                    </div>
                    <div class="lbi_details">
                        <a href="#" class="lbid_date">20 NOV</a>
                        <h2><a href="blog_single.html">Become the best sale marketer</a></h2>
                        <a class="learnM" href="blog_single.html">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="clearfix hidden-lg hidden-md hidden-xs"></div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="latestBlogItem">
                    <div class="lbi_thumb">
                        <img src="~/images/blog/3.jpg" alt="">
                    </div>
                    <div class="lbi_details">
                        <a href="#" class="lbid_date">16 NOV</a>
                        <h2><a href="blog_single.html">Introducing latest mopaly features</a></h2>
                        <a class="learnM" href="blog_single.html">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Blog Section -->
<!-- Ready Section -->
<section class="commonSection ready">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 col-md-9">
                <h2 class="sec_title white">@Resources.ready.header</h2>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-3 text-right">
                <a class="common_btn red_bg" href="/home/contact"><span>@Resources.ready.contact</span></a>
            </div>
        </div>
    </div>
</section>
<!-- Ready Section -->
