﻿
@{
    ViewBag.Title = Resources.pageTitle.jobs;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 <!-- Jobseeker Page Banner -->
<section class="jobseeker-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h2>
                       @Resources.jobs.heading                    
                    </h2>
                    <h2 class="subheading">@Resources.jobs.subheading</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jobseeker Page Banner -->


<!-- JobListing Page Banner -->

<section class="job-listing">
    <div class="container">
        <div class="row">
          <div class="job-box">
           <h2>@Resources.jobs.job1</h2>
              <p>@Resources.jobs.job1des</p>
              <a class="common_btn red_bg" target="_blank" href="https://careers.join.sa/recruit/Portal.na?digest=HhhKDCzTvympxpJGLHX2hXGAUnkE7bVo.a85bxdBEmQ-"><span>@Resources.jobs.applynow</span></a>
          </div>

            <div class="job-box">
                <h2>@Resources.jobs.job2</h2>
                <p>
                   @Resources.jobs.job2des
                </p>
                <a class="common_btn red_bg" target="_blank" href="https://careers.join.sa/recruit/Portal.na?digest=HhhKDCzTvympxpJGLHX2hXGAUnkE7bVo.a85bxdBEmQ-"><span>@Resources.jobs.applynow</span></a>
            </div>

            <div class="job-box">
                <h2>@Resources.jobs.job3</h2>
                <p>
                    @Resources.jobs.job3des
                </p>
                <a class="common_btn red_bg" target="_blank" href="https://careers.join.sa/recruit/Portal.na?digest=HhhKDCzTvympxpJGLHX2hXGAUnkE7bVo.a85bxdBEmQ-"><span>@Resources.jobs.applynow</span></a>
            </div>

            <div class="job-box">
                <h2>@Resources.jobs.job4</h2>
                <p>
                    @Resources.jobs.job4des
                </p>
                <a class="common_btn red_bg" target="_blank" href="https://careers.join.sa/recruit/Portal.na?digest=HhhKDCzTvympxpJGLHX2hXGAUnkE7bVo.a85bxdBEmQ-"><span>@Resources.jobs.applynow</span></a>
            </div>

            <div class="job-box">
                <h2>@Resources.jobs.job5</h2>
                <p>
                    @Resources.jobs.job5des
                </p>
                <a class="common_btn red_bg" target="_blank" href="https://careers.join.sa/recruit/Portal.na?digest=HhhKDCzTvympxpJGLHX2hXGAUnkE7bVo.a85bxdBEmQ-"><span>@Resources.jobs.applynow</span></a>
            </div>

            <div class="job-box">
                <h2>@Resources.jobs.job6</h2>
                <p>
                    @Resources.jobs.job6des
                </p>
                <a class="common_btn red_bg" target="_blank" href="https://careers.join.sa/recruit/Portal.na?digest=HhhKDCzTvympxpJGLHX2hXGAUnkE7bVo.a85bxdBEmQ-"><span>@Resources.jobs.applynow</span></a>
            </div>
        </div>
        <div class="text-center">
            <a class="common_btn red_bg" target="_blank" href="https://careers.join.sa/recruit/Portal.na?digest=HhhKDCzTvympxpJGLHX2hXGAUnkE7bVo.a85bxdBEmQ-"><span>@Resources.jobs.loadmore</span></a>
        </div>
    </div>
</section>


<!-- JobListing Page Banner -->



