﻿
@{
    ViewBag.Title = Resources.pageTitle.recruiters;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<!-- Recruiters Page Banner -->
<section class="recruiter-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h2>
                        @Resources.recruiters.heading
                    </h2>
                    <h2 class="subheading">@Resources.recruiters.subheading</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recruiters Page Banner -->


<!-- Recruitment Step -->

<section class="service_section_2 recruiter-step commonSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">       
                <h2 class="sec_title">@Resources.recruiters.tag</h2> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.recruiters.step1</h3>
                    <p>
                       @Resources.recruiters.step1des
                    </p>
                    <div class="iconWrap">
                        <i class="fa fa-money"></i>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.recruiters.step2</h3>
                    <p>
                        @Resources.recruiters.step2des
                    </p>
                    <div class="iconWrap">
                        <i class="fa fa-id-badge"></i>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="icon_box_2 text-center">
                    <h3>@Resources.recruiters.step3</h3>
                    <p>
                        @Resources.recruiters.step3des
                    </p>
                    <div class="iconWrap">
                        <i class="fa fa-home"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Recruitment Step -->


<section class="recruiter-join">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">           
                <h2 class="sec_title">@Resources.recruiters.joinhead</h2>       
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="singlefolio">
                    <i class="fa fa-user-plus"></i>
                    <div class="folioHover">
                        <h4><a href="portfolio_detail.html">@Resources.recruiters.join1</a></h4>
                        <a class="cate" href="#"> @Resources.recruiters.join1des</a>                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="singlefolio">
                    <i class="fa fa-clipboard"></i>
                    <div class="folioHover">                        
                        <h4><a href="portfolio_detail.html">@Resources.recruiters.join2</a></h4>
                        <a class="cate" href="#">@Resources.recruiters.join2des</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="singlefolio">
                    <i class="fa fa-id-badge"></i>
                    <div class="folioHover">                        
                        <h4><a href="portfolio_detail.html">@Resources.recruiters.join3</a></h4>
                        <a class="cate" href="#">@Resources.recruiters.join3des</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="singlefolio">
                    <i class="fa fa-money"></i>
                    <div class="folioHover">                        
                        <h4><a href="portfolio_detail.html">@Resources.recruiters.join4</a></h4>
                        <a class="cate" href="#">@Resources.recruiters.join4des</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>