﻿@model JoinSolutions.Website.Data.Task

@{
    ViewBag.Title = Resources.estimates.Delete;
}

<h2>@Resources.estimates.Delete</h2>

<h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Resources.task.taskName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.taskName)
                        </dd>

                        @*<dt>
                                @Resources.task.isSystem
                            </dt>*@

                        @*<dd>
                                @Html.DisplayFor(model => model.isSystem)
                            </dd>*@

                        <dt>
                            @Resources.task.isActive
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.isActive)
                        </dd>

                        <dt>
                            @Resources.task.taskStatusName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TaskStatu.taskStatusName)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" /> |
                            @Html.ActionLink(Resources.task.back_to_tasks, "Index", null, null, new { @class = "btn btn-info" })
                        </div>
                    }
                </div>


                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>
