﻿@model JoinSolutions.Website.Data.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.taskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isSystem)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.isSystem)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStatu.taskStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatu.taskStatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.taskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
