﻿@model JoinSolutions.Website.Models.TaskModel

@{
    ViewBag.Title = Resources.task.editTask;
}

<h2>@Resources.task.editTask</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal row">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.taskId)

                    <div class="form-group col-md-12">

                        <span class="">
                            <span class="checkbox">
                                @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                            </span>
                            @Html.EditorFor(model => model.isActive)
                        </span>
                        @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label " })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.taskName, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.taskName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.taskName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.taskStatusId, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("taskStatusId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.taskStatusId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.assignedToId, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownListFor(model => model.assignedToId, new SelectList(ViewBag.assignedToId, "Value", "Text"), Resources.task.select,
                                                       htmlAttributes: new { @class = "form-control" })                            @Html.ValidationMessageFor(model => model.assignedToId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group col-md-6">
                                                @Html.LabelFor(model => model.taskDescription, htmlAttributes: new { @class = "control-label " })
                                                <div class="">
                                                    @Html.TextAreaFor(model => model.taskDescription, new { @class = "form-control", @rows = "6", @maxlength = 500 })
                                                    @Html.ValidationMessageFor(model => model.taskDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.isSystem, htmlAttributes: new { @class = "control-label " })
                                    <div class="">
                                        <div class="checkbox">
                                            @Html.ValidationMessageFor(model => model.isSystem, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.EditorFor(model => model.isSystem)
                                    </div>
                                </div>*@



                                            <div class="form-group col-md-12">

                                                <input type="submit" value="@Resources.estimates.Edit" class="btn btn-primary" />

                                            </div>
                                        </div>
                }

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <div>
        @Html.ActionLink(Resources.task.back_to_tasks, "Index", null, null, new { @class = "btn btn-info" })
    </div>

    <script>
    function SelectAssigned() {

        $('#assignedToId').val('@Model.assignedToId');
          }
        window.onload = SelectAssigned;
    </script>