﻿@model IEnumerable<JoinSolutions.Website.Data.Task>

@{
    ViewBag.Title = Resources.task.tasks;
}

<h2>@Resources.task.tasks</h2>

<p>
    @Html.ActionLink(Resources.task.create_new_task, "Create", null, null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Resources.task.taskName
                        </th>
                        @*<th>
                                @Resources.task.isSystem
                            </th>*@
                        <th>
                            @Resources.task.isActive
                        </th>
                        <th>
                            @Resources.task.taskStatusName
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.taskName)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.isSystem)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.isActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaskStatu.taskStatusName)
                            </td>
                            <td>
                                @{
                                    if (item.isSystem == false)
                                    {
                                        @(Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.taskId })) <span>|</span>
@Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.taskId })
                                }
                                }


                            </td>
                        </tr>
                    }

                </table>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>