﻿@model IEnumerable<JoinSolutions.Website.Data.ProductCategory>

@{
    ViewBag.Title = Resources.estimates.ProductCategories;
}

<h2>@Resources.estimates.ProductCategories</h2>

<p>
    @Html.ActionLink(Resources.estimates.AddProductCategory, "Create", null, null, new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <table class="table table-striped">
                    <tr>
                        <th>
                            @Resources.estimates.catrgoryName
                        </th>
                        <th>
                            @Resources.dashboardCommon.action
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.id }) |
                                @*@Html.ActionLink(Resources.estimates.details, "Details", new { id = item.id }) |*@                   
                                @if (item.Products.Count() == 0)
                                {
                                    @Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.id })
                                }
                            </td>
                        </tr>
                    }

                </table>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

