﻿@model IEnumerable<JoinSolutions.Website.Data.PagePermission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.permissionNameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permissionNameAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Page.pageNameEn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.permissionNameEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permissionNameAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Page.pageNameEn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pagePermissionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pagePermissionId })
        </td>
    </tr>
}

</table>
