﻿@model JoinSolutions.Website.Data.AccountTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignedToId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignedToId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.accountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.accountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.taskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.taskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.accountTaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
