﻿@model IEnumerable<JoinSolutions.Website.Data.AccountTask>

@*@{
        ViewBag.Title = "Index";
    }

        <h2>@Resources.task.accountTasks</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


@{
    Layout = null;
}

<style>
    .strike {
        text-decoration: line-through;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Resources.task.taskName
        </th>
        <th>
            @Resources.task.is_completed
        </th>
        <th>
            @Resources.task.comment
        </th>
        <th>
            @Resources.task.assignedTo
        </th>
        <th>
            @Resources.task.crearedDate
        </th>

        <th>
            @Resources.task.LastEditedBy
        </th>

        <th>
            @Resources.task.LastEditDate
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Account.accountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task.taskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>*@
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
<tr>
    <td class="@((item.isCompleted == true) ? "strike" : "")">
        @item.Task.taskName
    </td>
    <td>
        @Html.CheckBoxFor(modelItem => item.isCompleted,
       new
            {
                @id = "chk" + item.accountTaskId,
           @value = item.isCompleted
            })
        @*<input type="checkbox" value="@item.isCompleted" id=@("chk"+@item.accountTaskId) onchange= "UpdateAccountTasks(@item.accountTaskId)" />*@
    </td>
    <td>
        @Html.TextAreaFor(modelItem => item.Comment,
       new
            {
                @id = "txt" + item.accountTaskId,
           @value = @item.Comment,
           @class = "form-control"
            })

    </td>
    <td>

        @Html.DropDownListFor(model => item.assignedToId, new SelectList(ViewBag.assignedToId, "Value", "Text",item.assignedToId), Resources.task.select,
 new { @Class = "form-control ", @id = "drp" + item.accountTaskId })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.createdDate)
    </td>

    <td>

        @Html.DisplayFor(modelItem => item.User2.username)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.updatedDate)
    </td>
    <td>
        <input type="button" value="@Resources.estimates.Save" onclick="UpdateAccountTasks(@item.accountTaskId)" class="btn btn-success" />
    </td>

    @*<td>
            @Html.DisplayFor(modelItem => item.Account.accountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task.taskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>*@
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.accountTaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.accountTaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.accountTaskId })
        </td>*@
</tr>
    }


</table>


