﻿@model JoinSolutions.Website.Models.OpportunityModel

@{
    ViewBag.Title = @Resources.opportunities.CreateOpportunity;
}

<ol class="topWiz">
    <li class="wizLi">@Resources.task.createNewAccount</li>
    <li class="wizLi current">@Resources.opportunities.CreateOpportunity</li>
    <li class="wizLi">@Resources.estimates.CreateNew</li>
</ol>

<h2>@Resources.opportunities.CreateOpportunity</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal row">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-md-6">
                        @Html.Label(@Resources.opportunities.opportunityName, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.opportunityName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.opportunityName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.accountId, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("accountId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.accountId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.opportunityStageId, Resources.opportunities.opportunityStageName, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownListFor(model => model.opportunityStageId, null, Resources.opportunities.Select, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.opportunityStageId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.assignedToId, Resources.opportunities.assignedUser, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownListFor(model => model.assignedToId, null, Resources.opportunities.Select, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.assignedToId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label(@Resources.opportunities.opportunityEnded, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextBoxFor(model => model.opportunityEnded, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.opportunityEnded, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.tenderPapersPrice, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextBoxFor(model => model.tenderPapersPrice, new { @class = "form-control", @type = "number", @min = 0 })
                            @Html.ValidationMessageFor(model => model.tenderPapersPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.tenderCost, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextBoxFor(model => model.tenderCost, new { @class = "form-control", @type = "number", @min = 0 })
                            @Html.ValidationMessageFor(model => model.tenderCost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label(@Resources.opportunities.opportunityDescription, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextAreaFor(model => model.opportunityDescription, new { @class = "form-control", @rows = 6 })
                            @Html.ValidationMessageFor(model => model.opportunityDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">

                        <input type="submit" value="@Resources.opportunities.Create" class="btn btn-primary" />

                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>



<div>
    @Html.ActionLink(@Resources.opportunities.BackToOpportunities, "Index", null, null, new { @class = "btn btn-info" })
</div>
