﻿@model JoinSolutions.Website.Data.Opportunity

@{
    ViewBag.Title = @Resources.opportunities.DeleteOpportunity;
}

    <h2>@Resources.opportunities.DeleteOpportunity</h2>

    <h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>
<div>
    <h4>@Resources.opportunities.Opportunity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resources.opportunities.opportunityName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opportunityName)
        </dd>

        <dt>
            @Resources.opportunities.opportunityEnded
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opportunityEnded)
        </dd>

        <dt>
            @Resources.opportunities.opportunityStageName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityStage.opportunityStageName)
        </dd>

        <dt>
            @Resources.opportunities.assignedUser
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.opportunities.Delete" class="btn btn-danger"  /> |
            @Html.ActionLink(@Resources.opportunities.BackToOpportunities, "Index", null, null, new { @class = "btn btn-info" })
        </div>
    }
</div>
