﻿@model JoinSolutions.Website.Models.OpportunityModel

@{
    ViewBag.Title = Resources.opportunities.EditOpportunity;
}

<h2>@Resources.opportunities.EditOpportunity</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal row">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.opportunityId)
    @Html.HiddenFor(model => model.createdDate)
    @Html.HiddenFor(model => model.createdById)

    <div class="form-group col-md-6">
        @Html.Label(@Resources.opportunities.opportunityName, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.EditorFor(model => model.opportunityName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.opportunityName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.accountId, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.DropDownList("accountId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.accountId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.opportunityStageId, Resources.opportunities.opportunityStageName, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.DropDownList("opportunityStageId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.opportunityStageId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.assignedToId, Resources.opportunities.assignedUser, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.DropDownList("assignedToId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.assignedToId, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group col-md-6">
        @Html.Label(@Resources.opportunities.opportunityEnded, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.TextBoxFor(model => model.opportunityEnded, Model.opportunityEnded.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date" })
            @Html.ValidationMessageFor(model => model.opportunityEnded, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.tenderCost, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.TextBoxFor(model => model.tenderCost, new { @class = "form-control", @type = "number", @min = 0 })
            @Html.ValidationMessageFor(model => model.tenderCost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.tenderPapersPrice, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.TextBoxFor(model => model.tenderPapersPrice, new { @class = "form-control", @type = "number", @min = 0 })
            @Html.ValidationMessageFor(model => model.tenderPapersPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6">
        @Html.Label(@Resources.opportunities.opportunityDescription, htmlAttributes: new { @class = "control-label " })
        <div class="">
            @Html.TextAreaFor(model => model.opportunityDescription, new { @class = "form-control", @rows = 6 })
            @Html.ValidationMessageFor(model => model.opportunityDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12">

        <input type="submit" value="@Resources.opportunities.Save" class="btn btn-primary" />
        @if (Model.Estimate == null)
        {
            <a style="margin-left:70px" href="/Estimates/Create?tenderId=@Model.opportunityId" class="btn btn-primary">@Resources.task.addNewOffer</a>
        }
        else
        {
            <a style="margin-left:70px" href="/Estimates/Edit?id=@Model.Estimate.id" class="btn btn-primary">@Resources.estimates.ShowEstimate</a>
        }
    </div>


</div>
}

<div>
    @Html.ActionLink(Resources.estimates.BackToEstimates, "Index", null, null, new { @class = "btn btn-info" })
</div>