﻿@model IEnumerable<JoinSolutions.Website.Data.Opportunity>
@using JoinSolutions.Website.Helpers;
@{
    ViewBag.Title = @Resources.opportunities.Opportunities;
    var culture = string.IsNullOrEmpty(CultureHelper.CurrentCulture) ? CultureHelper.DefaultCulture : CultureHelper.CurrentCulture;

}

<h2>@Resources.opportunities.Opportunities</h2>

<p>
    @Html.ActionLink(@Resources.opportunities.CreateOpportunity, "Create", "Opportunities", null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <th>
                            @Resources.opportunities.opportunityName
                        </th>
                        <th>
                            @Resources.opportunities.opportunityEnded
                        </th>
                        <th>
                            @Resources.opportunities.opportunityStageName
                        </th>
                        <th>
                            @Resources.opportunities.assignedUser
                        </th>
                        <th>@Resources.opportunities.CountDown</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.opportunityName)
                            </td>
                            <td>
                                @item.opportunityEnded.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OpportunityStage.opportunityStageName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.username)
                            </td>
                            <td><p style="color:red" id="counter@(item.opportunityId)"></p></td>
                            <td>
                                <a href="/Opportunities/Edit?id=@item.opportunityId">@Resources.opportunities.Edit</a>
                                @if (item.Estimates.Count() == 0)
                                {
                                    <a href="/Opportunities/Delete?id=@item.opportunityId">@Resources.opportunities.Delete</a>
                                }
                                @*@Html.ActionLink(, "Edit", "Opportunities", new { id = item.opportunityId }) |
                                    @Html.ActionLink(@Resources.opportunities.Delete, "Delete", "Opportunities", new { id = item.opportunityId })*@
                            </td>
                        </tr>
                    }

                </table>
                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

<script>

    $(document).ready(function () {

        @foreach (var trender in Model)
        {
        <text>
           // Set the date we're counting down to
           CalcTime("@trender.opportunityId", "@trender.opportunityEnded")
        </text>
        }

    });

    function CalcTime(opportunityId, opportunityEnded) {

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = new Date(opportunityEnded) - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // loop through all elements having class name ".my-class"
            @if (culture.ToLower() == "en" || culture.ToLower() == "en-US")
            {
                <text>
                document.getElementById("counter" + opportunityId).innerHTML = days + "d : " + hours + "h : "
                + minutes + "m :" + seconds + "s ";
                </text>
            }
            else
            {
                <text>
                document.getElementById("counter" + opportunityId).innerHTML = days + " يوم : " + hours + " ساعة : "
                + minutes + " دقيقة :" + seconds + " ثانية ";
                </text>
            }

            // Output the result in an element with id="demo"


            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                 @if (culture.ToLower() == "en" || culture.ToLower() == "en-US")
                 {
                   <text>
                   document.querySelector("#counter" + opportunityId).innerHTML = "EXPIRED";
                   </text>
                 }
                 else
                 {
                  <text>
                  document.querySelector("#counter" + opportunityId).innerHTML = "منتهى";
                  </text>
                 }
                 }
            }, 1000);
    }

</script>
