﻿@model IEnumerable<JoinSolutions.Website.Data.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pageNameEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pageNameAr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Module.moduleNameEn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.pageNameEn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pageNameAr)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Module.moduleNameEn)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.pageId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.pageId })
    </td>
</tr>
}

</table>
