﻿@model JoinSolutions.Website.Data.User

@{
    ViewBag.Title = "Delete";
}


<h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Resources.users.username
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.username)
                        </dd>

                        <dt>
                            @Resources.users.password
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.password)
                        </dd>

                        <dt>
                            @Resources.users.active
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.active)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-actions no-color">


                    @if (Model.AccountTasks.Count() > 0 || Model.Estimates.Count() > 0
                    || Model.Opportunities.Count() > 0 || Model.Tasks.Count() > 0)
                    {
                    }

                    else
                    {
                        <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" />
                    }
                    @Html.ActionLink(Resources.estimates.BackToUsers, "Index", null, null, new { @class = "btn btn-info" })
                </div>
                    }
                </div>
                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>


