﻿@model JoinSolutions.Website.Data.User

@{
    ViewBag.Title = "Details";
}

<h2>@Resources.estimates.details</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Resources.users.username
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.username)
                        </dd>

                        <dt>
                            @Resources.users.password
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.password)
                        </dd>

                        <dt>
                            @Resources.users.active
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.active)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink(Resources.estimates.BackToUsers, "Index", null, null, new { @class = "btn btn-info" })
                </p>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>



