﻿@model JoinSolutions.Website.Models.UsersModel

@{
    ViewBag.Title = "Edit";
}
    <style>
        .checkbox input[type=checkbox] {
            opacity: 1 !important;
        }

        .customLabel {
            cursor: pointer;
            display: inline-block;
            background: #2d3192;
            color: #fff;
            text-align: center;
            padding: 5px 20px;
            border-radius: 4px;
            /* Style as you please, it will become the visible UI component. */
        }

        #userImageFile {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
<h2>@Resources.estimates.EditUser</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <form class="profile-box" action="/Users/Edit" method="post" enctype="multipart/form-data" id="CookerRegisterF">
                    
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group col-md-12">

                            <div class="">

                                @if (Model.userImage != null)
                                {
                                    <img id="blah1" style="width:100px;height:100px;margin-bottom:10px;border-radius:50%" src="~/Pictures/@Model.userImage" alt="User Image" />
                                }

                                else
                                {
                                    <img id="blah" style="width:100px;height:100px;margin-bottom:10px;border-radius:50%" src="~/Pictures/unknownUser.jpg" alt="User Image" />
                                }

                                @*@Html.TextBoxFor(model => model.userImageFile, new { @class = "form-control", type = "file" })*@
                                <br />
                                <label for="upload">@Resources.estimates.userImage</label>
                                <br />
                                <label class="customLabel" for="userImageFile">@Resources.estimates.Upload</label>
                                <input type="file" class="" id="userImageFile" name="userImageFile">

                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                <span style="color:red">@ViewBag.userNameError</span>

                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextBoxFor(model => model.password, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.fullName, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.userEmail, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.userEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.userPhone, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.userPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.userTitle, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.userTitle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.userLinkedInProfile, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.userLinkedInProfile, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userLinkedInProfile, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        @Html.HiddenFor(m => m.userImage)



                        @*<div class="form-group col-md-6">
                            @Html.LabelFor(model => model.roleId, htmlAttributes: new { @class = "control-label" })

                            <div class="">
                                @Html.DropDownList("roleId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.roleId, "", new { @class = "text-danger" })
                            </div>
                        </div*@>

                        <div class="form-group col-md-6">
                            <span class="checkbox">
                                @Html.EditorFor(model => model.active)
                                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                            </span>
                            @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label" })



                        </div>

                        <div class="form-group col-md-12">

                            <input type="submit" value="@Resources.estimates.EditUser" class="btn btn-primary" />

                        </div>
                    </div>
                    </form>

                    <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>





<div>
    @Html.ActionLink(Resources.estimates.BackToUsers, "Index", null, null, new { @class = "btn btn-info" })
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
                $('#blah1').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#userImageFile").change(function () {
        readURL(this);
    });
</script>
