﻿@model IEnumerable<JoinSolutions.Website.Data.User>
@using JoinSolutions.Website.Data;

@{
    ViewBag.Title = Resources.estimates.Users;
}

<h2>@Resources.estimates.Users</h2>

<p>
    @Html.ActionLink(Resources.estimates.AddUser, "Create", null, null, new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="table">
                    <tr>
                        <th>
                            @Resources.users.username
                        </th>
                        @*<th>
            @Resources.users.password
        </th>*@

                        <th>
                            @Resources.estimates.userTitle
                        </th>

                        <th>
                            @Resources.estimates.userImage
                        </th>
                        @*<th>
                            @Resources.estimates.userRole
                        </th>*@
                        @*<th>
            @Resources.users.active
        </th>*@
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    @*<td>
           ********
        </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.userTitle)
                    </td>

                    <td>

                        @if (@item.userImage != null)
                        {
                            <img src="~/Pictures/@item.userImage" style="width:40px;height:40px;border-radius:50%" alt="user Image" />
                        }

                        else
                        {
                            <img src="~/Pictures/unknownUser.jpg" style="width:40px;height:40px;border-radius:50%" alt="user Image"/>
                        }
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Role.roleNameEn)
                    </td>*@
                    @*<td>
            @Html.DisplayFor(modelItem => item.active)
        </td>*@
                <td>
                    @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.id }) |

                    @if (item.AccountTasks.Count() > 0 || item.Estimates.Count() > 0
                    || item.Opportunities.Count() > 0 || item.Tasks.Count() > 0
                    ||item.id == ((User)Session["CurrentUser"]).id)
                    {
                    }

                    else
                    {
                        @Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.id })
                    }
                    | @Html.ActionLink(Resources.estimates.Permissions, "UserPermissions", new { userId = item.id })

                </td>
                </tr>
                    }

                </table>


                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

