﻿@using JoinSolutions.Website.Data;
@using JoinSolutions.Website.Helpers;
@{
    ViewBag.Title = "UserPermissions";

    JoinDBEntities db = new JoinDBEntities();
    var modules = db.Modules;

    var culture = string.IsNullOrEmpty(CultureHelper.CurrentCulture) ? CultureHelper.DefaultCulture : CultureHelper.CurrentCulture;

    var userId = Convert.ToInt32(Request.QueryString["userId"]);
    var user = db.Users.FirstOrDefault(o=>o.id == userId);
    var userPermissions = db.UserPagePermissions.Where(o => o.userId == userId);
}

<h2>@Resources.estimates.UserPermissions (@user.username)</h2>

<style>
    .perm_box {
        background: #fff;
        box-shadow: 0 0 5px #ccc;
        border-radius: 6px;
    }

    .perm_head {
        background: #f7f8fa;
        color: #000;
        padding: 10px;
    }

    .perm_row {
        display: flow-root;
        padding: 5px 10px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 25px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ececec;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2d3192;
    }

        input:checked + .slider:before {
            left: -4px;
        }


    input:focus + .slider {
        box-shadow: 0 0 1px #ececec;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    .custTab {
        padding: 0 !important;
    }

        .custTab .tab-pane {
            padding: 10px 0 !important;
        }
</style>
<div class="card-box">
    <ul class="nav nav-tabs nav-bordered">
        @foreach (var module in modules.Where(o => o.moduleId > 1))
        {
            <li class="nav-item">
                <a href="#tab@(module.moduleId)" data-toggle="tab" aria-expanded="false" class="nav-link @(module.moduleId == 2?"active":"")">
                    @((culture.ToLower() == "en" || culture.ToLower() == "en-US")? module.moduleNameEn : module.moduleNameAr)
                </a>
            </li>
        }

    </ul>
    @foreach (var module in modules)
    {
        <div class="tab-content custTab">
            <div class="tab-pane show @(module.moduleId == 2?"active":"")" id="tab@(module.moduleId)">
                <div class="row">

                    @foreach (var page in module.Pages)
                    {
                        <div class="col-md-4">
                            <div class="perm_box">
                                <h4 class="perm_head">
                                    @((culture.ToLower() == "en" || culture.ToLower() == "en-US") ? page.pageNameEn : page.pageNameAr)
                                </h4>

                                @foreach (var permission in page.PagePermissions)
                                {
                                    <div class="perm_row">
                                        <div class="pull-left">
                                            @((culture.ToLower() == "en" || culture.ToLower() == "en-US") ? permission.permissionNameEn : permission.permissionNameAR)
                                        </div>
                                        <div class="pull-right">
                                            <label class="switch">
                                                <input id="@(permission.pagePermissionId)" type="checkbox" @(userPermissions.Any(o=>o.permissionId == permission.pagePermissionId && o.isEnabled) ?"checked" : "" )>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    }
                </div>

            </div>


        </div>
    }
</div>
<div>
    @Html.ActionLink(Resources.estimates.BackToUsers, "Index", null, null, new { @class = "btn btn-info" })
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $("[type=checkbox]").on('change', function () {
        debugger;
        var permissionId = $(this).attr('id')
        var userId = getUrlParameter('userId');
        var switchStatus = $(this).is(':checked');
        changeUserPermissions(userId, permissionId, switchStatus);
        //if ($(this).is(':checked')) {
        //    switchStatus = $(this).is(':checked');
        //    changeUserPermissions(userId, permissionId, true)
        //}
        //else {
        //    switchStatus = $(this).is(':checked');
        //}
    });

    $(document).on('click', '.nav-link', function () {
        var href = $(this).attr('href').substring(1);
        //alert(href);
        $(this).removeClass('active');
        for (const li of document.querySelectorAll(".tab-pane.active")) {
            li.classList.remove("active");
        }


        $('.tab-pane[id="' + href + '"]').addClass('active');

    });

    function changeUserPermissions(userId, permissionId, isEnabled) {

        debugger;
        $.ajax({
            url: "/Users/UpdateUserPermissions",
            type: "POST",
            data: { "userId": userId, "permissionId": permissionId, "isEnabled": isEnabled },
            success: function (data) {
            }
        });

    }

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

</script>


