﻿@model JoinSolutions.Website.Models.AccountModel

@{
    ViewBag.Title = Resources.estimates.Create;
}

    <ol class="topWiz">
        <li class="wizLi current">@Resources.task.createNewAccount</li>
        <li class="wizLi">@Resources.opportunities.CreateOpportunity</li>
        <li class="wizLi">@Resources.estimates.CreateNew</li>
    </ol>

<h2>@Resources.task.createNewAccount</h2>



<div class="row">
    <div class="col-xl-6">
        <div class="card-box">


            <ul class="nav nav-tabs nav-bordered">
                <li class="nav-item">
                    <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        @Resources.task.AccountInfo
                    </a>
                </li>
                @*<li class="nav-item">
                    <a href="#profile-b1" data-toggle="tab" aria-expanded="true" class="nav-link">
                        Tasks
                    </a>
                </li>*@

            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="home-b1">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.accountName, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.accountName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.accountName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.accountBillingStatusId, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.DropDownList("accountBillingStatusId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.accountBillingStatusId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.accountWebsite, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.accountWebsite, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.accountWebsite, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-6">
                            @Html.Label(Resources.estimates.customerPhone, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextBoxFor(model => model.accountPhone, new { @class = "form-control", @type = "tel" })
                                @Html.ValidationMessageFor(model => model.accountPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-6">
                            @Html.Label(Resources.estimates.customerEmail, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextBoxFor(model => model.accountEmail, new { @class = "form-control", @type = "Email" })
                                @Html.ValidationMessageFor(model => model.accountEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
            @Html.LabelFor(model => model.createdDate, htmlAttributes: new { @class = "control-label " })
            <div class="">
                @Html.EditorFor(model => model.createdDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.createdDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

                        <div class="form-group col-md-12">

                            <input type="submit" value="@Resources.estimates.Create" class="btn btn-primary" />

                        </div>
                    </div>
                    }
                </div>
                <div class="tab-pane show" id="profile-b1">
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                    <p class="mb-0">Vakal text here dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </div>

            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col -->


</div>


<div>
    @Html.ActionLink(Resources.task.back_to_accounts, "Index", null, null, new { @class = "btn btn-info" })
</div>
