﻿@model JoinSolutions.Website.Data.Account

@{
    ViewBag.Title = Resources.estimates.Delete;
}

<h2>@Resources.estimates.Delete</h2>

<h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Resources.task.accountName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.accountName)
                        </dd>

                        <dt>
                            @Resources.task.accountBillingStatus
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountBillingStatu.billingStatusName)
                        </dd>

                        <dt>
                            @Resources.task.accountWebsite
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.accountWebsite)
                        </dd>

                        <dt>
                            @Resources.task.crearedDate
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.createdDate)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" /> |
                            @Html.ActionLink(Resources.task.back_to_accounts, "Index", null, null, new { @class = "btn btn-info" })
                        </div>
                    }
                </div>


                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>
