﻿@model JoinSolutions.Website.Data.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.accountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountBillingStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountBillingStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.accountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
