﻿@model JoinSolutions.Website.Models.AccountModel

@{
    ViewBag.Title = Resources.estimates.Edit;
}

<h2>@Resources.task.editAccount</h2>


<div class="row">
    <div class="col-xl-12">
        <div class="card-box">


            <ul class="nav nav-tabs nav-bordered">
                <li class="nav-item">
                    <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        @Resources.task.AccountInfo
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tendars" data-toggle="tab" aria-expanded="true" class="nav-link">
                        @Resources.opportunities.Opportunities
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#profile-b1" data-toggle="tab" aria-expanded="true" class="nav-link">
                        @Resources.task.tasks
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="home-b1">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.accountId)

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.accountName, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.accountName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.accountName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.accountBillingStatusId, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.DropDownList("accountBillingStatusId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.accountBillingStatusId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.accountWebsite, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.EditorFor(model => model.accountWebsite, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.accountWebsite, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-6">
                            @Html.Label(Resources.estimates.customerPhone, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextBoxFor(model => model.accountPhone, new { @class = "form-control", @type = "tel" })
                                @Html.ValidationMessageFor(model => model.accountPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-md-6">
                            @Html.Label(Resources.estimates.customerEmail, htmlAttributes: new { @class = "control-label " })
                            <div class="">
                                @Html.TextBoxFor(model => model.accountEmail, new { @class = "form-control", @type = "Email" })
                                @Html.ValidationMessageFor(model => model.accountEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <input type="submit" value="@Resources.estimates.Edit" class="btn btn-primary" />

                        </div>
                    </div>
                    }
                </div>
                <div class="tab-pane show " id="tendars">
                    @Html.Partial("~/Views/Opportunities/Index.cshtml",Model.opportunity)
                </div>
                <div class="tab-pane show" id="profile-b1">
                    @Html.Action("Index", "CrmAccountTasks", new { accountId = Model.accountId })
                </div>

            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col -->


</div>

<div>
    @Html.ActionLink(Resources.task.back_to_accounts, "Index", null, null, new { @class = "btn btn-info" })
</div>

<script>

    function UpdateAccountTasks(accountTaskId) {

        debugger;
        var isCompleted = 'chk' + accountTaskId;
        var comment = $('#txt' + accountTaskId).val();
        var assignedTo = $('#drp' + accountTaskId).val();
        isCompleted = $('#' + isCompleted).is(":checked");


        $.ajax({
            url: "/CrmAccountTasks/EditAccountTask",
            type: "post",
            data: {
                "id": accountTaskId,
                "isCompleted": isCompleted,
                "assignedTo": assignedTo,
                "comment": comment
            },
            dataType: "html",
            async: false,

             success: function () {
                 debugger;
                 $('#profile-b1').load('/CrmAccountTasks/Index?accountId='+@Model.accountId);
            },
            error: function () {
                debugger;
                $('#profile-b1').load('/CrmAccountTasks/Index?accountId='+@Model.accountId);
            }

        })
    }

</script>