﻿@model IEnumerable<JoinSolutions.Website.Data.Account>

@{
    ViewBag.Title = Resources.task.accounts;
}

<h2>@Resources.task.accounts</h2>

<p>
    @Html.ActionLink(Resources.task.createNewAccount, "Create", null, null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Resources.task.accountName
                        </th>
                        <th>
                            @Resources.task.accountBillingStatus
                        </th>
                        <th>
                            @Resources.task.accountWebsite
                        </th>
                        <th>
                            @Resources.task.crearedDate
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.accountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountBillingStatu.billingStatusName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.accountWebsite)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createdDate)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.accountId }) |
                                @*@Html.ActionLink("Details", "Details", new { id=item.accountId }) |*@
                                @Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.accountId })
                            </td>
                        </tr>
                    }

                </table>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>
