﻿@model JoinSolutions.Website.Data.Product

@{
    ViewBag.Title = Resources.estimates.Delete;
}


<h3>@Resources.dashboardCommon.Are_you_sure_you_want_to_delete_this_</h3>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Resources.estimates.productSKU
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productSKU)
                        </dd>

                        <dt>
                            @Resources.estimates.productNameEn
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productNameEn)
                        </dd>

                        <dt>
                            @Resources.estimates.productNameAr
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productNameAr)
                        </dd>

                        <dt>
                            @Resources.estimates.productDescriptionEn
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productDescriptionEn)
                        </dd>

                        <dt>
                            @Resources.estimates.productDescriptionAr
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productDescriptionAr)
                        </dd>

                        <dt>
                            @Resources.estimates.catrgoryName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProductCategory.name)
                        </dd>

                        <dt>
                            @Resources.estimates.supplierName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Supplier.name)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="@Resources.estimates.Delete" class="btn btn-danger" />
                    @Html.ActionLink(Resources.estimates.BackToProducts, "Index", null, null, new { @class = "btn btn-info" })
                </div>
                    }
                </div>

                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>


