﻿@model JoinSolutions.Website.Data.Product

@{
    ViewBag.Title = Resources.estimates.details;
}

<h2>@Resources.estimates.details</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Resources.estimates.productSKU
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productSKU)
                        </dd>

                        <dt>
                            @Resources.estimates.productNameEn
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productNameEn)
                        </dd>

                        <dt>
                            @Resources.estimates.productNameAr
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productNameAr)
                        </dd>

                        <dt>
                            @Resources.estimates.productDescriptionEn
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productDescriptionEn)
                        </dd>

                        <dt>
                            @Resources.estimates.productDescriptionAr
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.productDescriptionAr)
                        </dd>

                        <dt>
                            @Resources.estimates.catrgoryName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProductCategory.name)
                        </dd>

                        <dt>
                            @Resources.estimates.supplierName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Supplier.name)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink(Resources.estimates.BackToProducts, "Index", null, null, new { @class = "btn btn-info" })
                </p>



                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>


