﻿@model JoinSolutions.Website.Models.ProductModel

@{
    ViewBag.Title = Resources.estimates.EditProduct;
}

<h2>@Resources.estimates.EditProduct</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.productSKU, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.productSKU, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.productSKU, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.productNameEn, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.productNameEn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.productNameEn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.productNameAr, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.productNameAr, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.productNameAr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.productCategoryId, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("productCategoryId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.productCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.supplierId, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("supplierId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.supplierId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.productDescriptionEn, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextAreaFor(model => model.productDescriptionEn, new { @class = "form-control", @rows = "6", @maxlength = 500 })
                            @Html.ValidationMessageFor(model => model.productDescriptionEn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.productDescriptionAr, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.TextAreaFor(model => model.productDescriptionAr, new { @class = "form-control", @rows = "6" , @maxlength = 500 })
                            @Html.ValidationMessageFor(model => model.productDescriptionAr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">

                        <input type="submit" value="@Resources.estimates.EditProduct" class="btn btn-primary" />

                    </div>
                </div>
                }


                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

<div>
    @Html.ActionLink(Resources.estimates.BackToProducts, "Index", null, null, new { @class = "btn btn-info" })
</div>



