﻿@model IEnumerable<JoinSolutions.Website.Data.Product>

@{
    ViewBag.Title = Resources.estimates.products;
}

<h2>@Resources.dashboardCommon.Products</h2>

<p>
    @Html.ActionLink(Resources.estimates.AddProduct, "Create", null, null, new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped">
                    <tr>
                        <th>
                            @Resources.estimates.productSKU
                        </th>
                        <th>
                            @Resources.estimates.productNameEn
                        </th>
                        <th>
                            @Resources.estimates.productNameAr
                        </th>
                        <th>
                            @Resources.estimates.catrgoryName
                        </th>
                        <th>
                            @Resources.estimates.supplierName
                        </th>
                        <th>@Resources.dashboardCommon.action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.productSKU)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productNameEn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productNameAr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCategory.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.name)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.estimates.Edit, "Edit", new { id = item.id }) |
                                @*@Html.ActionLink(Resources.estimates.details, "Details", new { id = item.id }) |*@
                                @Html.ActionLink(Resources.estimates.Delete, "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>


                <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

